* {
font-family: sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;}

select, input {
border: 2px solid #ffff93;
padding: 4px;
background: #efefef;
border-radius: 12px;
}

body {
 background: #ffffd7;
}

header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  background: #fdfd82;padding: 11px;border-radius: 17px;margin: 10px 10px;box-shadow: 0px 0px 5px 1px black;}

header .header-main * {
  float: left;
}

.container {width: 700px;margin: 0px auto;margin-top: 24px;}

.vs-create {width: 85%;}

table {
  border-collapse: collapse;
text-align: center;width: 100%;margin-top: 19px;}

thead {background:  #fdfd82; }
tbody {background: white;}


.button {background: #fdfd82;padding: 10px;/* margin: 0px; */text-decoration: none;text-transform: uppercase;color: black;border-radius: 9px;cursor: pointer;text-align: center;
transition: 0.3s;}

.button:hover{
background: #3e3e00;
color: white;
box-shadow: 0px 0px 6px 2px yellow;
}

.add {width: 100%;float: left;margin-bottom: 14px;background: lightgreen;}

td,th {border: 1px solid black;}

tbody tr:hover {
  cursor:
  pointer;
  background: #ffffd7;
  text-decoration:
  underline;
  transition: 0.3s;
  color: black;
  /* border: 2px solid yellow; */
  }

.vs-form {
background: white;
padding: 9px;
border: 3px solid yellow;
display: flex;
flex-flow: column;
justify-content: center;
width: 321px;
align-items: stretch;
margin: 0 auto;
float: none;
}

.vs-form input, .vs-form button, .vs-form select {
margin-bottom: 14px;
}

.vs-form div {
  display: flex;
  flex-flow: column;
}

.accept {
background: #7bed7b;
border-color: green;
}

.back {
border-color: black;
border: 1px solid;
margin-right: 16px;
}

.global {
display: flex;
flex-direction: row;
align-items: stretch;
justify-content: space-evenly;
/* box-sizing: content-box; */
width: 100%;
margin: 0;
box-shadow: 0px 0px 5px 2px black;
flex-wrap: nowrap;
align-content: center;
}

.global * {
margin: 0 !important;
}

#vs-glob-year {
      width: 48px;
      text-align: center;
}

.print {

}

.cancel {
  background: #ff7272;
  /* border-color: #600101; */
  border: 2px solid #600101;
}
