<!DOCTYPE html>
{%load static%}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="{% static 'vac_shed/img/favicon.ico'%}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/main.css'%}">
  <link rel="stylesheet" href="{% static 'vac_shed/css/style.css'%}">
  <!-- <link rel="stylesheet" href="{% static 'vac_shed/css/bootstrap.css'%}"> -->
  <script src="{% static 'TURV\js\jquery-3.6.0.min.js'%}"  crossorigin="anonymous"></script>
  <!-- <script src="{% static 'vac_shed\js\bootstrap.js'%}"  crossorigin="anonymous"></script> -->
  <script src="{% static 'vac_shed\js\moment\moment.js'%}"  crossorigin="anonymous"></script>
  <script src="{% static 'vac_shed\js\vs_main1.js'%}"  crossorigin="anonymous"></script>
  <script src="{% static 'TURV\js\build\date-ru-RU.js'%}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'TURV\js\chosen\chosen.css'%}">
    <script src="{% static 'TURV\js\chosen\chosen.jquery.js'%}" charset="utf-8"></script>
      <script src="{% static 'TURV\js\chosen\chosen.jquery.min.js'%}" charset="utf-8"></script>
  {%block script%}{%endblock%}
 <title>{%block title%} Графики отпусков {%endblock%}</title>
</head>

<body>
  


  <header>
    {% block header %}
    <div class="header-back-button-container">
      <a href="/"  class="button back">Назад</a>
    {% block logo%}
      <div class="header-logo-container">
        <div class="header-logo">
          <img src="{% static 'img/logo.png' %}" alt="">
        </div>
      </div>
    {% endblock %}
    </div>
  
    <div class="header-main-text">
      <h3>ИС "СУП". Графики отпусков</h3>
  </div>
  
  
    {% block username %}
      <h4>{{request.user.first_name}}</h4>
    {% endblock%}
   
      {%endblock%}
  
  </header>

  

  {%block body%}

  <div class="container">
    
    <div id="vac_shed-main-menu" class="standart-menu">
      
      {% if not IsPaymentDepartment %}
      <a href="{% url 'new_vacshed_url'%}" class="button add">Новый график</a>
      {% endif %}
    
      <div class="standart-menu-submenu-container">
          <img onclick="open_additional_menu(this,'vacshed-additional-menu-panel')" src="{% static '/img/menu-burger.png' %}" alt="">

      </div>
       
      <div id="vacshed-filter-menu" class="standart-menu-submenu-container">
        <img src="{% static '/img/filter.png' %}" onclick="open_search_menu(this)" alt="">

      </div> 
      
   

      
      

      
    
    </div>

    <!-- панель доп меню -->
    <div id="vacshed-additional-menu-panel" class="standart-panel" style="display: none;">
      {%if granted == 1%}
      <a href="{%url 'global_url'%}" class="button ">Сформировать общий график</a> \
      {% endif %}
      <a href="{%url 'vacshed_aup_url'%}" class="button ">Графики АУП</a>
    </div>
    <!-- ----------------------------- -->
    
    
    <!-- поисковая панель -->
    <form id="vac_shed-search-panel" class="standart-panel search" style="display: none;" action="{% url 'vacshed_url'%}">
      
      <input type="hidden" name="search-sign" value="1">

      <div class="search-panel-input-group inline">
        <select name="search-department" id="search-department">
          <option value="">Подразделение</option>
          {% for dep in deps_for_filter %}
            <option value="{{dep.id}}">{{dep.name}}</option>
          {% endfor %}
        </select>
      
        <input type="text" name="search-year" placeholder="Год" id="search-year">
      </div>

      <div class="search-panel-input-group">
        <input class="button add" type="submit" value="Найти">
        <a class="button cancel" href="." >Сбросить</a>
      </div>

    </form>
    <!-- 1 -->
     
    <div class="list-container">
      
      <table id="vs-table-copy">
        <thead>
          <th scope="col">Код</th>
          <th scope="col">Подразделение</th>
          <th scope="col">Период</th>
          <th scope="col">Утв-н. СУП</th>
          <th scope="col">Ответственный</th>
        </thead>
      </table>
        
      <table id="vs-table" class="vs-table">
          <thead>
            <th scope="col">Код</th>
            <th scope="col">Подразделение</th>
            <th scope="col">Период</th>
            <th scope="col">Утв-н. СУП</th>
            <th scope="col">Ответственный</th>
          </thead>
          <tbody>
            {% for s in vacsheds%}
              <tr id="{{s.id}}" onclick="return window.open('{% url 'vacshed_create_url' vs=s.id%}')">
                <td>{{s.id}}</td>
                <td>{{s.dep.name}}</td>
                <td>{{s.year}}</td>
                {% if s.sup_check %}
                  <td>✅</td>
                {%else%}
                  <td>❌</td>
                {%endif%}
                <td>{{s.res_officer}}</td>
              </tr>
              {%endfor%}
          </tbody>


        </table>
    </div>

  </div>

  <script>
    (function() {
      setTimeout(function() {set_table_head('vs-table', 'vs-table-copy')}, 500)
    })()
  </script>

  {%endblock%}

</body>

</html>
