{% extends 'vac_shed/index.html'%}
{%load static%}
{%block title%}График №{{vacshed.id}}{%endblock%}
{%block script%}<script src="{% static 'vac_shed/js/getvacshed.js'%}" charset="utf-8">

</script>
<!-- <script src="{% static 'vac_shed/js/print.js'%}" charset="utf-8"> -->

<!-- </script> -->

<link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.6" media="print">
<link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.6/dist/themes/oldstyle.min.css" media="print">
{%endblock%}

{% block header %}

<div class="header-back-button-container">
  <a href="#" onclick="window.close()" class="button back">Закрыть</a>
  {% block logo%}{{block.super}}{% endblock%}
</div>

<div class="header-main-text">
  <h3>График отпусков {{vacshed.dep.name}} на <span id="year">{{vacshed.year}}</span>г. </h3>
</div>


{% block username %}
  <h4>{{request.user.first_name}}</h4>
{% endblock%}

  {%endblock%}




{% block body %}
<h1 class="print">График отпусков {{vacshed.dep.name}} на <span id="year">{{vacshed.year}}</span>г.</h1>
<div class="container vs-create">

  <div class="standart-menu">
  {% if granted %}
    <a class="button no-print" href="{% url 'additem_url' id=vacshed.id%}"> Добавить сотрудника в график</a>
  {%else%}
    {% if vacshed.sup_check %}
    {%else%}
      <a class="button no-print" href="{% url 'additem_url' id=vacshed.id%}"> Добавить сотрудника в график</a>
    {%endif%}
  {%endif%}
  {% if granted %}
    {% if vacshed.sup_check %}
    <a class="button no-print" id="checkon" href="{% url 'check_url' id=vacshed.id%}">Отменить утверждение</a>
    {%else%}
    <a class="button no-print" id="checkof"  href="{% url 'check_url' id=vacshed.id%}">Утвердить</a>
    {%endif%}
  {%endif%}
  <a class="button no-print" onclick="window.print()" href="#"> Печать графика </a>

  {% if vacshed.sup_check%}
    <span class="no-print"><span>✅</span> График утвержден </span>
  {%else%}
  {%endif%}

</div>
  
  
  
  

<table class="vs-table-create">
  <thead>
    <th>Сотрудник</th>
    <th>Дата</th>
    <th>Дни</th>
    {% if granted %}
    <th>Перенос</th>
    <th>Дней после переноса</th>
    <th class="no-print">Комментарий</th>
    {% else %}
    {%endif%}
    <th>Всего дней</th>
    <th>Иждивенец (год р-я)</th>
    <th>Проезд</th>

    <th class="print print-sign sign">Ознакомлен</th>
  </thead>
  <tbody>
    {% for i in items %}
      <tr id="{{i.id}}">
        <td>{{i.emp.fullname}}, {{i.emp.position}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="print print-sign sign"> </td>
      </tr>
      {%endfor%}
  </tbody>
</table>

<div class="basic-border no-print no-display" id="context-menu-container">
  <!-- <a id="context-menu-edit" href="#">Купить билет</a>
  <a id="context-menu-move" href="#">Перенести отпуск</a> -->
  <input type="button" id="context-menu-cancel" value="Отменить отпуск">
</div>

<div class="vs-form basic-border no-print no-display" id="cancel-reason-container">
  <h3>Причина отмены отпуска</h3>

    <input type="text" name="cancel-reason-input" id="cancel-reason-input">
    <input id="cancel-reason-submit" type="button" value="Подтвердить">
  
</div>

<div class="vs-form noprint no-display" id="cancel-reason-accept-container">
  <h3>Вы уверены, что хотите отменить отпуск?</h3>
  <input id="cancel-reason-accept" type="button" value="Да">
  <input id="cancel-reason-decline" onclick="close_all_forms()" type="button" value="Нет">
</div>

<div style="margin-top: 92px;" class="print">
  <h3>Руководитель СУП   ________________________________________   Е.В. Бондарчук</h3>
</div>

</div>

<script type="text/javascript">
  $(document).ready(function() {

  getvacshed({{granted}},'{{vacshed.sup_check}}')




})



    </script>

{%endblock%}
