{% extends 'vac_shed/index.html'%}
{%load static%}
{%block title%}График №{{vacshed.id}}{%endblock%}
{%block script%}<script src="{% static 'vac_shed/js/getvacshed.js'%}" charset="utf-8">

</script>
<!-- <script src="{% static 'vac_shed/js/print.js'%}" charset="utf-8"> -->

<!-- </script> -->

<link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.6" media="print">
<link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.6/dist/themes/oldstyle.min.css" media="print">
{%endblock%}
{%block header%}  <div class="header-main no-print"><button type="button" onclick="window.close()" class="button" name="button">Закрыть</button><h1> График отпусков <span style="text-decoration: underline;">{{vacshed.dep.name}}</span> на {{vacshed.year}} год</h1></div>{%endblock%}
{% block body %}
<h1 class="print">График отпусков {{vacshed.dep.name}} на <span id="year">{{vacshed.year}}</span>г.</h1>
<div class="container vs-create">

  <a class="button no-print" href="{% url 'additem_url' id=vacshed.id%}"> + Добавить сотрудника в график</a>
  {% if granted %}
    {% if vacshed.sup_check %}
    <a class="button no-print" id="checkon" href="{% url 'check_url' id=vacshed.id%}">Отменить утверждение</a>
    {%else%}
    <a class="button no-print" id="checkof"  href="{% url 'check_url' id=vacshed.id%}">Утвердить</a>
    {%endif%}
  {%endif%}
  <a class="button no-print" onclick="window.print()" href="#"> Печать графика </a>

  {% if vacshed.sup_check%}
    <span class="no-print"><span>✅</span> График утвержден </span>
  {%else%}
  {%endif%}


<table class="vs-table-create">
  <thead>
    <th>Сотрудник</th>
    <th>Дата</th>
    <th>Дни</th>
    {% if granted %}
    <th>Перенос</th>
    <th>Дней после переноса</th>
    <th>Комментарий</th>
    {% else %}
    {%endif%}
    <th>Всего дней</th>
    <th>Иждивенец (год р-я)</th>
    <th>Проезд</th>

    <th class="print print-sign sign">Ознакомлен</th>
  </thead>
  <tbody>
    {% for i in items %}
      <tr id="{{i.id}}">
        <td>{{i.emp.fullname}}, {{i.emp.position}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="print print-sign sign"> </td>
      </tr>
      {%endfor%}
  </tbody>
</table>
</div>

<script type="text/javascript">
  $(document).ready(function() {

  getvacshed({{granted}},'{{vacshed.sup_check}}')




})



    </script>

{%endblock%}
