{% extends 'vac_shed/index.html'%}
{%load static%}
{%block title%}Общий график на {%endblock%}
{%block script%}<script src="{% static 'vac_shed/js/getvacshed_global.js'%}" charset="utf-8"></script>
<!-- <script src="{% static 'vac_shed/js/print.js'%}" charset="utf-8"></script> -->
<link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.6" media="print">
<link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.6/dist/themes/oldstyle.min.css" media="print">{%endblock%}
{%block header%}  <div class="header-main no-print"><a href="/vacshed" class="button">Закрыть</a><h1> Общий график отпусков </h1></div>{%endblock%}
{% block body %}



<div class="container vs-create">

  <div class="print cover">

    <table id="prof">
      <thead>
        <th colspan="3">Председатель профсоюзного комитета КГУП "Камчатский водоканал"</th>
      </thead>
      <tbody>
        <tr>
            <td colspan="2">_________________________ </td><th> Пустовит Т.А. </th>
        </tr>

        <tr>
            <td colspan="3">______ _______ ______ г.</td>
        </tr>

      </tbody>
    </table>

    <table id="director">
      <thead>
        <th colspan="3">Утверждаю</th>
      </thead>
      <tbody>
        <tr>
          <th>Директор КГУП "Камчатский водоканал"</th><td>______________</td><th>Супрун А.С.</th>
        </tr>
        <tr>
          <td colspan="3">______ _______ ______ г.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h1 class="print print-head">График отпусков <span id="ph-dep"></span> на <span id="ph-year"></span>г. </h1>

  <div class="vs-form global no-print">
    <input type="text" name="vs-glob-year" id="vs-glob-year" placeholder="Введите год" value="">
    <select id="vs-glob-dep" class="chosen-select" name="vs-glob-dep">
      <option value="0">Подразделение</option>
      {% for d in deps %}
        <option value="{{d.id}}">{{d.name}}</option>
      {%endfor%}
    </select>
    <input type="text" name="vs-glob-pos" id="vs-glob-pos" placeholder="Должность" value="">
    <label for="vs-glob-fil">Только филиалы</label>
    <input type="checkbox" id="vs-glob-fil" name="vs-glob-fil" value="0">

    <select class="" id="vs-glob-terr" name="vs-glob-terr">
      <option value="0">ЕМР + ПКГО</option>
      <option value="1">ПКГО</option>
      <option value="2">ЕМР</option>
    </select>



    <select class="" id="vs-glob-per" name="vs-glob-per">
      <option value="0">Месяц начала периода (переноса)</option>
      <option value="1">Январь</option>
      <option value="2">Февраль</option>
      <option value="3">Март</option>
      <option value="4">Апрель</option>
      <option value="5">Май</option>
      <option value="6">Июнь</option>
      <option value="7">Июль</option>
      <option value="8">Август</option>
      <option value="9">Сентябрь</option>
      <option value="10">Октябрь</option>
      <option value="11">Ноябрь</option>
      <option value="12">Декабрь</option>

    </select>
    <button type="button" onclick="open_emps()" class="button" name="button">Подбор сотрудников</button>
<div style="display:none !important;" id="vs-glob-emp-cont" class="vs-glob-emp-cont">
  <select id="vs-glob-emp" class="chosen-select" name="">
    <option value="0">Подбор сотрудников</option>
    {%for e in emps%}
      <option value="{{e.id}}">{{e.fullname}} - {{e.position.name}}</option>
    {%endfor%}
  </select>
  <input style="display:none;" readonly id='vs-glob-emp-id' type="text" name="vs-glob-emp" value="">
  <button id="vs-glob-emp-btn" class="button" type="button" onclick="add_emp()" name="button">Добавить</button>
  <textarea readonly id='vs-glob-emp-name' name="name" rows="15" cols="80"></textarea>
  <button type="button" class="button cancel" onclick="emps_close()" name="button">Закрыть</button>
</div>


    <input type="button" class="button" name="" onclick="getvacshed()" value="Сформировать">
    <a class="button no-print" onclick="window.print()" ref="#"> Печать графика </a>
    <!-- <button type="button"  onclick="tableToExcel('vs-global-table','График отпусков', ' График отпусков')" name="button">excel</button> -->
  </div>

<h1 id="loading" style="display:none;">Загрузка</h1>

<table id="vs-global-table" style="display:none;" class="vs-table-create avoid-break-inside">
  <thead>
    <th>Подразделение</th>
    <th>Сотрудник</th>
    <th>Дата</th>
    <th>Дни</th>
    <th>Перенос</th>
    <th>Дней после переноса</th>
    <th>Всего дней</th>
    <th>Иждивенец (год р-я)</th>
    <th>Проезд</th>
    <th class="print print-sign">Ознакомлен</th>
  </thead>
  <tbody>
    {% for i in items %}
      <tr id="{{i.id}}">
        <td></td>
        <td>{{i.emp.fullname}}, {{i.emp.position}}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {%endfor%}
  </tbody>
</table>

<table class="print cover" id="footer">
  <tbody>
    <tr>
      <td>Руководитель СУП</td>
      <td>_______________________________________________________</td>
      <td>Бондарчук Е.В.</td>
    </tr>
  </tbody>
</table>

</div>
<script type="text/javascript">



  var tableToExcel = (function() {
  		var uri = 'data:application/vnd.ms-excel;base64,'
  		, template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
  		, base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
  		, format = function(s, c) {
  			return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; })
  		}
  		, downloadURI = function(uri, name) {
  		    var link = document.createElement("a");
  		    link.download = name;
  		    link.href = uri;
  		    link.click();
  		}

  		return function(table, name, fileName) {
  			if (!table.nodeType) table = document.getElementById(table)
  				var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
  			var resuri = uri + base64(format(template, ctx))
  			downloadURI(resuri, fileName);
  		}
  	})();



</script>

{%endblock%}
