{% extends 'vac_shed/index.html'%}
{%load static%}
{%block title%}Общий график на {%endblock%}
{%block script%}<script src="{% static 'vac_shed/js/getvacshed_global.js'%}" charset="utf-8"></script>
<script src="{% static 'vac_shed/js/print.js'%}" charset="utf-8"></script>
<link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.6" media="print">
<link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.6/dist/themes/oldstyle.min.css" media="print">{%endblock%}
{%block header%}  <div class="header-main no-print"><button type="button" onclick="window.close()" class="button" name="button">Закрыть</button><h1> Общий график отпусков </h1></div>{%endblock%}
{% block body %}



<div class="container vs-create">

  <div class="vs-form global">
    <input type="text" name="vs-glob-year" id="vs-glob-year" placeholder="Введите год" value="">
    <select id="vs-glob-dep" name="vs-glob-dep">
      <option value="0">Подразделение</option>
      {% for d in deps %}
        <option value="{{d.id}}">{{d.name}}</option>
      {%endfor%}
    </select>



    <select class="" id="vs-glob-per" name="vs-glob-per">
      <option value="0">Месяц начала периода (переноса)</option>
      <option value="1">Январь</option>
      <option value="2">Февраль</option>
      <option value="3">Март</option>
      <option value="4">Апрель</option>
      <option value="5">Май</option>
      <option value="6">Июнь</option>
      <option value="7">Июль</option>
      <option value="8">Август</option>
      <option value="9">Сентябрь</option>
      <option value="10">Октябрь</option>
      <option value="11">Ноябрь</option>
      <option value="12">Декабрь</option>

    </select>
    <input type="button" class="button" name="" onclick="getvacshed()" value="Сформировать">
    <a class="button print" onclick="print()" ref="#"> Печать графика </a>
  </div>


<table class="vs-table-create avoid-break-inside">
  <thead>
    <th>Подразделение</th>
    <th>Сотрудник</th>
    <th>Дата</th>
    <th>Дни</th>
    <th>Перенос</th>
    <th>Дней после переноса</th>
    <th>Всего дней</th>
    <th>Иждивенец (год р-я)</th>
    <th>Проезд</th>
    <th class="not-print">Ознакомлен</th>
  </thead>
  <tbody>
    {% for i in items %}
      <tr id="{{i.id}}">
        <td></td>
        <td>{{i.emp.fullname}}, {{i.emp.position}}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      {%endfor%}
  </tbody>
</table>
</div>

<script type="text/javascript">

</script>
{%endblock%}
