{% extends "reg_jounals/index.html" %}

{%block title%}Изменить запись{% endblock %}
{%load static%}

{%block header%}Трудовая книжка №{{history.eh_number}} - {{history.eh_employer}}{% endblock %}

{%block content%}
{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
  {{form.errors}}
</div>
{%endif%}
<form class="add_form" style="grid-gap: 20px;" action="" method="post">
    {% csrf_token %}
<a class="btn btn-warning" target="_blank" href="{% url 'employment_history_print_url' id=history.id%}">Сформировать документ</a>
    {% for field in form %}
    <p>{{field.label}}{{ field }}</p>
    {% endfor%}

  <input class="btn btn-success" type="submit" value="Сохранить" />
  <a class="btn btn-outline-info" href="..">Отмена</a>
  <a class="btn btn-outline-danger" href="{%url 'employment_history_del_url' id=history.id%}">Удалить</a>


</form>

{%endblock%}
