{% extends "reg_jounals/index.html" %}

{%block title%}Добавить запись{% endblock %}
{%block header%}{%block logo%}{{block.super}}{%endblock%}Добавить запись - Трудовая книжка{% endblock %}

{%block content%}

{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<form class="standart-form standart-panel" action="" method="post">
  {% csrf_token %}

  <div class="standart-form-input-group inline">
    <p><span>{{form.eh_number.label}}:</span>{{form.eh_number}}</p>
    <p><span>{{form.eh_isdigital.label}}</span>{{form.eh_isdigital}}</p>
  </div>
  
  <div class="standart-form-input-group inline">
    <p><span>{{form.eh_dateOfInv.label}}: </span>{{form.eh_dateOfInv}}</p>
    <p><span>{{form.eh_OrderInv.label}}</span>{{form.eh_OrderInv}}</p>
  </div>

  <div class="standart-form-input-group inline">
    <p><span>ФИО: </span>{{form.eh_employer}}</p>
    <p><span>Подразделение: </span><select name="employment-history-department-field" id="employment-history-department-field">
      {% for dep in deps%}
        <option value="{{dep.id}}">{{dep.name}}</option>
      {% endfor %}
    </select></p>
  </div>

  <div class="standart-form-input-group inline">
    <p><span>{{form.eh_dateOfResign.label}}: </span>{{form.eh_dateOfResign}}</p>
    <p><span>{{form.eh_OrderResign.label}}</span>{{form.eh_OrderResign}}</p>
  </div>  



<div class="standart-form-input-group inline">
  <input class="button add" type="submit" value="Сохранить" />
  <a class="button" target="_blank" href="{% url 'employment_history_print_url' id=history.id%}">Печать расписки</a>
  <a class="button cancel" href=".">Отмена</a>
  {% if editing or request.user.is_superuser %}
    <a class="button cancel" onclick="open_additional_menu(this, 'delete-document-popup')" href="#">Удалить</a>
  {% endif %}
</div>


</form>

<div id="delete-document-popup" style="display: none;" class="standart-panel standart-form popup"> 
  <div class="standart-form-header">
    <h4>Вы уверены?</h4>
  </div>

  <div class="standart-form-input-group inline">
    <a class="button add" href="{% url 'document_delete' type=4 id=history.id %}">Да</a>
    <a class="button cancel" onclick="this.parentNode.parentNode.style.display = 'none' ">Нет</a>
  </div>

</div> 

<script type="text/javascript">
  (function(){
    document.getElementById('employment-history-department-field').value = '{{history.department_id}}'
  })()
</script>

{%endblock%}



