{%extends "reg_jounals/index.html" %}

{%block title%}Удостоверения{%endblock%}
{%block header%}<a class="btn btn-dark" href="../">< назад</a> Журнал регистрации удостоверений. Всего: {{count}}.  {%endblock%}
{%block content%}
<div id="frame_" class="frame idents">
  <iframe id="iframe" class="iidents" src="" width="" height=""></iframe>
  <button type="button" class="btn btn-success" onclick="send_submit()" name="button">Сохранить</button>
  <button type="button" onclick="close_frame()"class="btn btn-outline-danger" name="button">Отмена</button>
</div>
<form action="{% url 'identity' %}">
  <input type="search" name="ident_search" placeholder="Поиск по ФИО..">
  <select class="" name="ident_dep_search">
    <option value="">Выберите подразделения для поиска</option>
    {%for dep in deps%}
      <option value="{{dep.id}}">{{dep}}</option>
    {%endfor%}
  </select>
  <button class="btn btn-sm btn-dark" type="submit" name="" value="Найти">Найти</button>
</form>
<!-- <button class="btn btn-success btn-lg m-bottom btn-add " type="button" name="button" onclick="open_frame_new()"> + Добавить</button> -->
<a class="btn btn-success btn-lg m-bottom btn-add" href="{% url 'identity_add_url'%}"> + Добавить</a>
{% if idents %}
<table>
  <thead class="thead-dark">
  <tr class="tr-header">
    <th scope="col">Номер удостоверения</th>
    <th scope="col">Дата выдачи</th>
    <th scope="col">Сотрудник</th>
    <th scope="col">Подразделение</th>
    <th scope="col">Ответственный сотрудник</th>



  </tr>
  </thead>

  {%for ident in idents%}

<!-- <tr id="{{ident.id}}" onclick="open_for_upd({{ident.id}})"> -->
    <tr  onclick="return location.href = '{% url 'identity_upd_url' id=ident.id%}' ">

    <td id="number">{{ident.number}}</td>
    <td id="date">{{ident.date_giving|date:"d.m.Y"}}</td>
    <td id="fio">{{ident.employer}}</td>
    <td id="dep">{{ident.department}}</td>
    <td id="res_officer">{{ident.res_officer}}</td>

</tr>
  {%endfor%}
</table>
{%else%}
<h2>Записей нет</h2>
{%endif%}

<nav  class="paginator" aria-label="Page navigation example">
  <ul class="pagination">
    {%if idents.has_previous%}
        <li class="page-item">
          <a class="page-link" aria-label="previous" href="?page=1">
              <span aria-hidden="true">Первая</span></a>
        </li>
        <li class="page-item">
          <a class="page-link" href='?page={{idents.previous_page_number}}' aria-label="previous">
    <span aria-hidden="true">{{idents.previous_page_number}}</span>
          </a>
        </li>
  {%endif%}

   <li class="page-item active"><a class="page-link" href="">{{ idents.number }}</a></li>

{%if idents.has_next%}
    <li class="page-item">
      <a class="page-link" href='?page={{idents.next_page_number}}' aria-label="Next">{{idents.next_page_number}}</a>
      </li>
  {%endif%}

  <li class="page-item">
  <a class="page-link" href="?page={{ idents.paginator.num_pages }}">Последняя</a>
  </li>
</ul>
</nav>

{%endblock%}
