{% extends "reg_jounals/index.html" %}

{%block title%}Добавить запись{% endblock %}
{%block header%}{%block logo%}{{block.super}}{%endblock%}Добавить запись - Удостоверение{% endblock %}

{%block content%}
{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}

<form class="standart-panel standart-form" action="" method="post">
  {% csrf_token %}
  <div class="standart-form-header">
    <h4>Номер удостоверения: <span id="next_num">{{next_num}}</span></h4>
  </div>
  
  <div class="standart-form-input-group inline">
    <p><span>ФИО: </span><select name="identity-employer-field" id="identity-employer-field">

    </select></p>

    <p><span>Подразделение: </span><select onchange="get_employers_from_department(this.value, 'identity-employer-field')" name="identity-department-field" id="identity-department-field">
      {% for dep in deps %}
        <option value="{{dep.id}}">{{dep.name}}</option>
      {% endfor %}
    </select></p>

    <p><span>Выдано: </span>{{form.date_giving}}</p>
  </div>

  <div class="standart-form-input-group inline">
    <input class="button add"  type="submit" value="Добавить" />
    <a class="button cancel" href="..">Отмена</a>
  </div>



</form>

<script type="text/javascript">
  (function (){
    get_employers_from_department(document.getElementById('identity-department-field').value, 'identity-employer-field')
  })()
</script>

{%endblock%}
