<!DOCTYPE html>
<html  lang="en">
<head>
  {%load static%}
  <link rel="stylesheet" href="{% static 'css/style6.css'%}">
  <link rel="stylesheet" href="{% static 'css/VacList.css'%}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  {%block addstyles%}{%endblock%}

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"  charset="utf-8"></script>
  <script src="{% static 'TURV\js\build\date-ru-RU.js'%}" charset="utf-8"></script>
  <script src="{% static 'js/rj_main4.js'%}"></script>
  <!-- <script src="{% static 'js/forLists.js'%}"></script> -->
  <script src="{% static 'js/reg_addDoc.js'%}"></script>
  <script src="{% static 'js/op_print.js'%}"></script>
  <!-- <script src="{% static 'js/date.js'%}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <title>{%block title%}КДО{%endblock%}</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-light ">


    <span class="navbar-brand mb-0 h1">{%block header%}Кадровое делопроизводство КГУП "Камчатский водоканал"{%endblock%}</span><span style="text-align: right; float: right;font-size: 14pt;">  <span id="uname">{{ user.first_name }}</span> {% if request.user.is_superuser%}  <a style="color:black;" href="{% url 'logfile' %}">| Лог |</a> <a style="color:black;" href="/admin/">Войти в админ-панель</a><span id="version"> v2.1 </span>{%endif%} {% if request.user.groups.all.0.name == 'Редактирование справочников' %} <a style="color:black;" href="/admin">| Подразделения</a> {% endif %}<a class="btn btn-outline-danger" style="margin-left: 17px;" href="{% url 'logout'%}">выйти</a></span>

    </div>

  </header>



<div class="container">
    {%block content%}
    <div class='sub-navbar'>
    <button class="btn btn-dark" onclick="open_vac_calc()" type="button" name="">Калькулятор дат</button>

    </div>

  <div id='calc-container' class="date-calc-container">
    <div class="date-calc-nav">

      <button class="btn btn-danger" onclick="close_vac_calc()" type="button" name="">Закрыть</button>
    </div>
    <div id="subtr" class="date-calc-div date-calc-subtr">
      <label for="d-calc-first">Начальная дата: </label> <input type="date" id="id_dur_from" name="d-calc-first" value="">
      <label for="d-calc-first">Конечная дата: </label> <input type="date" id="id_dur_to" onchange="vac_calc()" name="d-calc-last" value="">
      <label for="d-calc-dur-count">Кол-во дней:  </label>  <input style="text-align: center;" type="number" id='id_days_count2' onchange="duration()" name="d-calc-dur-count" value="">
    </div>



  </div>

    <h1 style="text-align: center;
    margin-top: 13px;
    font-size: 27pt;

    ">Добро пожаловать, {{user_io}} </h1>
    <h2 style="    text-align: center;
    margin-top: 8px;
    font-size: 21pt;
    border-bottom: 1px solid #000;">Главное меню</h2>
    <div class="recents">
    <div class="recent">
      <h3 style="text-align: center;">Недавние документы:</h3>

        <div class="r_oov">
        <h4><u>Приказы на отпуск (К-ОТП):</u></h4>
        {% for oov in r_oov%}
        <p><a href="/orders_on_vacation_new/{{oov.id}}/create">{{oov.order_number}} от {{oov.order_date|date:"d.m.Y"}} {{oov.res_officer}}</a></p>
        {%endfor%}
        </div>

        <div class="r_oom">
        <h4><u>Приказы по другим вопросам (К):</u></h4>
        {% for oom in r_oom%}
        <p><a href="/orders_on_others/{{oom.id}}/edit">{{oom.oom_number}} от {{oom.oom_date|date:"d.m.Y"}} {{oom.oom_res_officer}}</a></p>
        {%endfor%}
        </div>

        <div class="r_obd">
        <h4><u>Исходящие:</u></h4>
        {% for obd in r_obd%}
        <p><a href="/outbound_docs/{{obd.id}}/edit">{{obd.doc_type}} {{obd.doc_number}} от {{obd.doc_date|date:"d.m.Y"}} {{obd.doc_res_officer}}</a></p>
        {%endfor%}
        </div>

        <div class="r_obt">
        <h4><u>Командировки (П):</u></h4>
        {% for obt in r_obt%}
        <p><a href="/orders_of_BTrip/{{obt.id}}/upd">{{obt.bt_number}} от {{obt.bt_date|date:"d.m.Y"}} {{obt.bt_res_officer}}</a></p>
        {%endfor%}
        </div>

        <div class="r_oop">
        <h4><u>Личный состав (ЛС):</u></h4>
        {% for oop in r_oop%}
        <p><a href="/orders_on_personnel/{{oop.id}}/upd">{{oop.op_number}} от {{oop.op_date|date:"d.m.Y"}} {{oop.op_res_officer}}</a></p>
        {%endfor%}
        </div>

        <div class="r_lc">
        <h4><u>Трудовые договоры:</u></h4>
        {% for lc in r_lc%}
        <p><a href="/laborContracts/{{lc.id}}/upd">{{lc.lc_number}} от {{lc.lc_date|date:"d.m.Y"}} {{lc.lc_res_officer}}</a></p>
        {%endfor%}
        </div>

        <div class="r_lor">
        <h4><u>Заявления на увольнение:</u></h4>
        {% for lor in r_lor%}
        <p><a href="/letters_of_resignation/{{lor.id}}/edit">{{lor.lor_employee}} от {{lor.lor_date|date:"d.m.Y"}} {{lor.lor_res_officer}}</a></p>
        {%endfor%}
        </div>

        <div class="r_loi">
        <h4><u>Заявления на прием:</u></h4>
        {% for loi in r_loi%}
        <p><a href="/letters_of_invite/{{loi.id}}/edit">{{loi.loi_employee}} от {{loi.loi_date|date:"d.m.Y"}} {% if loi.loi_dateOfInv %} работает с: {{loi.loi_dateOfInv|date:"d.m.Y"}} {%endif%} {{loi.loi_res_officer}}</a></p>
        {%endfor%}
        </div>

        <div class="r_eh">
        <h4><u>Трудовые книжки:</u></h4>
        {% for eh in r_eh%}
        <p><a href="/employment_history/{{eh.id}}/upd">{{eh.eh_number}} {{eh.eh_employer}} работает с: {{eh.eh_dateOfInv|date:"d.m.Y"}} {{eh.eh_res_officer}}</a></p>
        {%endfor%}
        </div>

        <div class="r_sr">
        <h4><u>Реестры б/л:</u></h4>
        {% for sr in r_sr%}
        <p><a href="/sick_reg/{{sr.sr_number}}/create/">{{sr.sr_number}} {{sr.sr_res_officer}}</a></p>
        {%endfor%}
        </div>

    </div>

    <div class="recent_my">
      <h3 style="text-align: center;">Мои недавние документы:</h3>

      {% for oov in r_my_oov%}
      <p><a href="/orders_on_vacation_new/{{oov.id}}/create">{{oov.order_number}} от {{oov.order_date|date:"d.m.Y"}} {{oov.res_officer}}</a></p>
      {%endfor%}
      {% for oom in r_my_oom%}
      <p><a href="/orders_on_others/{{oom.id}}/edit">{{oom.oom_number}} от {{oom.oom_date|date:"d.m.Y"}} {{oom.oom_res_officer}}</a></p>
      {%endfor%}
      {% for obd in r_my_obd%}
      <p><a href="/outbound_docs/{{obd.id}}/edit">{{obd.doc_type}} {{obd.doc_number}} от {{obd.doc_date|date:"d.m.Y"}} {{obd.doc_res_officer}}</a></p>
      {%endfor%}
      {% for obt in r_my_obt%}
      <p><a href="/orders_of_BTrip/{{obt.id}}/upd">{{obt.bt_number}} от {{obt.bt_date|date:"d.m.Y"}} {{obt.bt_res_officer}}</a></p>
      {%endfor%}
      {% for oop in r_my_oop%}
      <p><a href="/orders_on_personnel/{{oop.id}}/upd">{{oop.op_number}} от {{oop.op_date|date:"d.m.Y"}} {{oop.op_res_officer}}</a></p>
      {%endfor%}
      {% for lc in r_my_lc%}
      <p><a href="/laborContracts/{{lc.id}}/upd">Трудовой договор {{lc.lc_number}} от {{lc.lc_date|date:"d.m.Y"}} {{lc.lc_res_officer}}</a></p>
      {%endfor%}
      {% for lor in r_my_lor%}
      <p><a href="/letters_of_resignation/{{lor.id}}/edit"> Заявление на увольнение {{lor.lor_employee}} от {{lor.lor_date|date:"d.m.Y"}} {{lor.lor_res_officer}}</a></p>
      {%endfor%}
      {% for loi in r_my_loi%}
      <p><a href="/letters_of_invite/{{loi.id}}/edit">Заявление на прием {{loi.loi_employee}} от {{loi.loi_date|date:"d.m.Y"}} {% if loi.loi_dateOfInv %} работает с: {{loi.loi_dateOfInv|date:"d.m.Y"}} {%endif%} {{loi.loi_res_officer}}</a></p>
      {%endfor%}
      {% for eh in r_my_eh%}
      <p><a href="/employment_history/{{eh.id}}/upd">Трудовая книжка {{eh.eh_number}} {{eh.eh_employer}} работает с: {{eh.eh_dateOfInv|date:"d.m.Y"}} {{eh.eh_res_officer}}</a></p>
      {%endfor%}
      {% for sr in r_my_sr%}
      <p><a href="/sick_reg/{{sr.sr_number}}/create/">Реестр б\л {{sr.sr_number}} {{sr.sr_res_officer}}</a></p>
      {%endfor%}

    </div>
</div>
    <div class="container_grid">
      <a href="//172.16.23.38:8082" class="btn btn-info main_button old_vac" ><img src="{% static 'img/regrepl.png' %}" alt="">Штатное замещение</a>
      <a href="{% url 'orders_on_vacation' %}" class="btn btn-info main_button old_vac" ><img src="{% static 'img/old.png' %}" alt="">Приказы на отпуск (старые c 1 по 13К-ОТП)</a>
      <a href="{% url 'orders_on_vacation_new' %}" class="btn btn-info main_button" ><img src="{% static 'img/sun.png' %}" alt="">Приказы на отпуск</a>
      <a href="{% url 'orders_on_others' %}" class="btn btn-info main_button"><img src="{% static 'img/letter.png' %}" alt="">Приказы по другим вопросам</a>
      <a href="{%url 'outbound'%}" class="btn btn-info main_button"><img src="{% static 'img/envelop.png' %}" alt="">Исходящие документы</a>
      <a href="{%url 'orders_of_BTrip'%}" class="btn btn-info main_button " ><img src="{% static 'img/btrip.png' %}" alt="">Приказы о командировках</a>
      <a href="{%url 'orders_on_personnel'%}" class="btn btn-info main_button"><img src="{% static 'img/contact.png' %}" alt="">Приказы по личному составу</a>
      <a href="{%url 'labor_contracts'%}" class="btn btn-info main_button"><img src="{% static 'img/contract.png' %}" alt="">Трудовые договоры</a>
      <a href="{%url 'resignation'%}" class="btn btn-info main_button"><img src="{% static 'img/reinsign.png' %}" alt="">Заявления на увольнение</a>
      <a href="{%url 'invite'%}" class="btn btn-info main_button"><img src="{% static 'img/invite.png' %}" alt="">Заявления на прием</a>
      <a href="{%url 'employment_history'%}" class="btn btn-info main_button"><img src="{% static 'img/history.png' %}" alt="">Трудовые книжки</a>
      <a href="{%url 'sick_regs'%}" class="btn btn-info main_button"><img src="{% static 'img/cross.png' %}" alt="">Реестры больничных листов</a>
<a href="{%url 'identity'%}" class="btn btn-info main_button"><img src="{% static 'img/card.png' %}" alt="">Удостоверения</a>
        <a href="{%url 'tabels_url'%}"  class="btn btn-info  main_button"><img src="{% static 'TURV/img/tabel.png' %}" alt="">Табели учета рабочего времени</a>

    </div>
    {%endblock%}
  </div>



</body>
</html>
