<!DOCTYPE html>
<html  lang="en">
<head>
  {%load static%}
  <link rel="stylesheet" href="{% static 'css/main.css'%}">
  <link rel="stylesheet" href="{% static 'css/style1.css'%}">
  <link rel="stylesheet" href="{% static 'css/VacList.css'%}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}" type="image/x-icon">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,200&display=swap" rel="stylesheet">
  {%block addstyles%}{%endblock%}


  <script
  src="{% static 'TURV\js\jquery-3.6.0.min.js'%}"

  crossorigin="anonymous"></script>
  <script src="{% static 'TURV\js\build\date-ru-RU.js'%}" charset="utf-8"></script>
  <script src="{% static 'js/rj_main1.js'%}"></script>
  <!-- <script src="{% static 'js/forLists.js'%}"></script> -->
  <script src="{% static 'js/reg_addDoc.js'%}"></script>
  <script src="{% static 'js/op_print.js'%}"></script>
  <!-- <script src="{% static 'js/date.js'%}"></script> -->
  {%block script%}{%endblock%}

  <title>{%block title%}ИС "СУП"{%endblock%}</title>
</head>
<body>
  <header>

   
    <span class="navbar-brand mb-0 h1">{%block header%}{%block logo%}<img src="{% static 'img/IMG_5826.PNG'%}" alt="">{%endblock%}Информационная система "СУП". Кадровый документооборот{%endblock%}</span><span style="text-align: right; float: right;font-size: 14pt;">   {% if request.user.is_superuser%} <a style="color:black;" href="/admin/">{{ user.first_name }}</a><span id="version"> v2.5 </span>{%endif%} {% if request.user.groups.all.0.name == 'Редактирование справочников' %} <a style="color:black;" href="/admin">| Справочники</a> {% endif %}</span>


  </header>



<div class="container">
    {%block content%}
    <div class='sub-navbar'>
    <button class="btn btn-dark" onclick="open_vac_calc()" type="button" name="">Калькулятор дат</button>
    <a class="btn btn-dark" href="{% url 'logs_url' %}">Журналы событий</a>
    <a class="btn btn-dark" href="{% url 'reports_url'%}">Отчетность</a>
    <a class="btn btn-dark" href="/work_cal">Производственный календарь</a>
    <a class="btn btn-dark" href="/admin">Удаление данных</a>
    <button onclick="GetRecords(5)" class="btn btn-dark">Запись на прием</button>

    </div>

  <div id='calc-container' class="date-calc-container">
    <div class="date-calc-nav">

      <button class="btn btn-danger" onclick="close_vac_calc()" type="button" name="">Закрыть</button>
 
    </div>
    <div id="subtr" class="date-calc-div date-calc-subtr">
      <label for="d-calc-first">Начальная дата: </label> <input type="date" id="id_dur_from" name="d-calc-first" value="">
      <label for="d-calc-first">Конечная дата: </label> <input type="date" id="id_dur_to" onchange="vac_calc()" name="d-calc-last" value="">
      <label for="d-calc-dur-count">Кол-во дней:  </label>  <input style="text-align: center;" type="number" id='id_days_count2' onchange="duration()" name="d-calc-dur-count" value="">
    </div>



  </div>

  <div class="popup" id="checkin">
    <div class="date-calc-nav">

      <button class="btn btn-danger" onclick="javascript: $('#checkin').css('display', 'none')" type="button" name="">Закрыть</button>
      
    </div>

    <div class="popup-content">
      <label for="checkinDate">Время записи</label> <input type="datetime-local" name="checkinDate" id="checkinDate">
      <label for="citizen">ФИО</label> <input type="text" name="citizen" id="citizen" >


    </div>

    <div class="popup-buttons">
      <button onclick="CheckInForInvite()" class="btn btn-success">
        Записать
      </button>
      <a href="#" onclick="GetRecords(0)">показать все записи</a>

    </div>

    <div class="invite-records">
      <table id="invite-records-table">
        <thead>
          <th>Время</th>
          <th>Фио</th>
          <th> - - - </th>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td><a href="#">Отменить</a></td>
          </tr>

        </tbody>
      </table>
    </div>

  </div>



    <h1 style="text-align: center;
    margin-top: 13px;
    font-size: 27pt;
      border-bottom: 1px solid #000;
          padding-bottom: 8px;

    ">Добро пожаловать, {{user_io}} </h1>

  <div class="main_container">
    <div class="container_grid">
      <!-- <a href="//172.16.23.38:8082" class="btn btn-info main_button old_vac" ><img src="{% static 'img/regrepl.png' %}" alt="">Штатное замещение</a> -->
      <!-- <a href="/vacshed/" class="btn btn-info main_button old_vac" ><img src="{% static 'img/regrepl.png' %}" alt="">Графики отпусков</a> -->
      <!-- <a href="{% url 'orders_on_vacation' %}" class="btn btn-info main_button old_vac" ><img src="{% static 'img/old.png' %}" alt="">Приказы на отпуск (старые c 1 по 13К-ОТП за 2021г.)</a> -->
      <a href="{% url 'orders_on_vacation_new' %}" class="btn btn-info main_button" ><img src="{% static 'img/sun.png' %}" alt="">Приказы на отпуск</a>
      <a href="{% url 'orders_on_others' %}" class="btn btn-info main_button"><img src="{% static 'img/letter.png' %}" alt="">Приказы по другим вопросам</a>
      <a href="{%url 'outbound'%}" class="btn btn-info main_button"><img src="{% static 'img/envelop.png' %}" alt="">Исходящие документы</a>
      <a href="{%url 'orders_of_BTrip'%}" class="btn btn-info main_button " ><img src="{% static 'img/btrip.png' %}" alt="">Приказы о командировках</a>
      <a href="{%url 'orders_on_personnel'%}" class="btn btn-info main_button"><img src="{% static 'img/contact.png' %}" alt="">Приказы по личному составу</a>
      <a href="{%url 'labor_contracts'%}" class="btn btn-info main_button"><img src="{% static 'img/contract.png' %}" alt="">Трудовые договоры</a>
      <a href="{%url 'resignation'%}" class="btn btn-info main_button"><img src="{% static 'img/reinsign.png' %}" alt="">Заявления на увольнение</a>
      <a href="{%url 'invite'%}" class="btn btn-info main_button"><img src="{% static 'img/invite.png' %}" alt="">Заявления на прием</a>
      <a href="{%url 'employment_history'%}" class="btn btn-info main_button"><img src="{% static 'img/history.png' %}" alt="">Трудовые книжки</a>
      <!-- <a href="{%url 'sick_regs'%}" class="btn btn-info main_button"><img src="{% static 'img/cross.png' %}" alt="">Реестры больничных листов</a> -->
      <a href="{%url 'identity'%}" class="btn btn-info main_button"><img src="{% static 'img/card.png' %}" alt="">Удостоверения</a>
      <a href="{%url 'tabels_url'%}"  class="btn btn-info  main_button"><img src="{% static 'TURV/img/tabel.png' %}" alt="">Табели учета рабочего времени</a>
      <a href="{%url 'vacshed_url'%}"  class="btn btn-info  main_button"><img src="{% static 'vac_shed/img/vacshed.png' %}" alt="">График отпусков</a>
      <a href="{%url 'ss-main'%}"  class="btn btn-info  main_button"><img src="{% static 'shift_shed/img/favicon.ico' %}" alt="">Графики сменности</a>
      

    </div>

    <div class="info-window">
      <h4 style="text-align: center;">Записи на прием <a href="#" onclick="GetRecords(5)"> + </a></h4> 
      <div id="checkins">
        <table>
          <thead>
            <tr colspan="2"></tr>
            <tr>
              <th>Дата</th>
              <th>ФИО</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
    </div>
    {%endblock%}
  </div>



</body>
</html>
