{% extends "reg_jounals/index.html" %}

{%block title%}Добавить запись{% endblock %}
{%block header%}{%block logo%}{{block.super}}{%endblock%}Добавить запись - Трудовой договор{% endblock %}

{%block content%}
<!--  -->
{% if form.errors%}

<div class="alert alert-danger mt-5" id="form_error" role="alert">
{{form.errors}}
</div>
{%endif%}
<form class="standart-form standart-panel " action="" method="post">
  {% csrf_token %}
  <div class="standart-form-header">
    <h4>Номер договора: <span id="next_num">{{next_num}}</span>({{year_}})</h4>
  </div>
  
  <div class="standart-form-input-group inline">
    <p><span>Работник: </span><select name="labor-contract-employer-field" id="labor-contract-employer-field">

    </select></p>
    <p><span>{{form.lc_date.label}}:</span> {{form.lc_date}}</p> 
  </div>

  <div class="standart-form-input-group inline">
    <p><span>Подразделение: </span><select onchange="get_employers_from_department(this.value, 'labor-contract-employer-field')" name="labor-contract-department-field" id="labor-contract-department-field">
      {% for dep in deps%}
        <option value="{{dep.id}}">{{dep.name}}</option>
      {%endfor%}
    </select></p>
    
    <p> <span> {{form.lc_pos.label}}: </span> <select id="sel_pos" class="" name="sel_pos">
      {%for p in pos %}
      <option value="{{p.id}}">{{p}}</option>
      {%endfor%}
    </select>

    <p><span>{{form.lc_dateOfInv.label}}:</span> {{form.lc_dateOfInv}}</p>
  </div>



 

<div class="standart-form-input-group">
  <p><span>{{form.lc_workCond.label}}: </span>{{form.lc_workCond}}</p>
</div>
  



<div class="standart-form-input-group inline">
  <input class="button add" type="submit" value="Добавить" />
  <a class="button cancel" href=".">Отмена</a>
</div>

</form>

<script type="text/javascript">
  (function(){
    get_employers_from_department(document.getElementById('labor-contract-department-field').value, 'labor-contract-employer-field')
  })()

$('#sel_pos').change(function() {
  $('#id_lc_pos').val('')

  $('#id_lc_pos').val($('#sel_pos option:selected').text())
})
</script>

{%endblock%}
