{%extends "reg_jounals/index.html" %}

{%block title%}Трудовые договоры{%endblock%}
{%block header%} <a class="btn btn-dark" href="../"> < назад</a> Журнал регистрации трудовых договоров. Всего: {{count}}.  {%endblock%}
{%block content%}
<div id="frame_" class="frame">
  <iframe id="iframe" src="" width="" height=""></iframe>
  <button type="button" class="btn btn-success" onclick="send_submit()" name="button">Сохранить</button>
  <button type="button" onclick="close_frame()"class="btn btn-outline-danger" name="button">Отмена</button>
</div>
<form action="{% url 'labor_contracts' %}">

  <select class="" name="lc_search">
      <option value="">Поиск по подразделению</option>
    {% for dep in deps%}
        <option value="{{dep.id}}">{{dep.dep_name}}</option>
    {% endfor%}
  </select>
  <button class="btn btn-sm btn-dark" type="submit" name="" value="Найти">Найти</button>
</form>
<!-- <button class="btn btn-success btn-lg m-bottom btn-add " type="button" name="button" onclick="open_frame_new()"> + Добавить</button> -->
<a class="btn btn-success btn-lg m-bottom btn-add " href="{%url 'labor_contracts_add_url'%}"> + Добавить</a>
{% if orders %}
<table>
  <thead class="thead-dark">
  <tr class="tr-header">

    <th scope="col">Дата договора</th>
    <th scope="col">Номер</th>
    <th scope="col">Принимаемый сотрудник</th>
    <th scope="col">Подразделение</th>
    <th scope="col">Дата приема</th>
    <th scope="col">Ответственный сотрудник</th>



  </tr>
  </thead>

  {%for order in orders%}

<tr onclick="return location.href = '{% url 'labor_contracts_upd_url' id=order.id%}' ">
<!-- <tr id="{{order.id}}" onclick="open_for_upd({{order.id}})"> -->


    <td id="date">{{order.lc_date|date:"d.m.Y"}}</td>
    <td id="number">{{order.lc_number}}</td>
    <td id="emloyer">{{order.lc_emloyer}}</td>
    <td id="dep">{{order.lc_dep}}</td>
    <td id="dateInv">{{order.lc_dateOfInv|date:"d.m.Y"}}</td>
    <td id="res_officer">{{order.lc_res_officer}}</td>


</tr>
  {%endfor%}
</table>
<nav  class="paginator" aria-label="Page navigation example">
  <ul class="pagination">
    {%if orders.has_previous%}
        <li class="page-item">
          <a class="page-link" aria-label="previous" href="?page=1">
              <span aria-hidden="true">Первая</span></a>
        </li>
        <li class="page-item">
          <a class="page-link" href='?page={{orders.previous_page_number}}' aria-label="previous">
    <span aria-hidden="true">{{orders.previous_page_number}}</span>
          </a>
        </li>
  {%endif%}

   <li class="page-item active"><a class="page-link" href="">{{ orders.number }}</a></li>

{%if orders.has_next%}
    <li class="page-item">
      <a class="page-link" href='?page={{orders.next_page_number}}' aria-label="Next">{{orders.next_page_number}}</a>
      </li>
  {%endif%}

  <li class="page-item">
  <a class="page-link" href="?page={{ orders.paginator.num_pages }}">Последняя</a>
  </li>
</ul>
</nav>

{%else%}
<h2>Записей нет</h2>
{%endif%}
{%endblock%}
