{% extends "reg_jounals/index.html" %}

{%block title%}Добавить запись{% endblock %}
{%block header%}{%block logo%}{{block.super}}{%endblock%}Добавить запись - Заявление на прием №{{next_num}}{% endblock %}

{%block content%}

{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<form class="standart-form standart-panel" action="" method="post">
  {% csrf_token %}
  <div class="standart-form-header">
    <h4>Номер заявления: <span id="next_num">{{next_num}}</span></h4>
  </div>
  
  <div class="standart-form-input-group inline">
    <p><span>ФИО (полностью): </span> {{form.loi_employee}}</p>
    <p><span>Дата: </span>{{form.loi_date}}</p>
    <p><span>{{form.loi_dateOfInv.label}}: </span>{{form.loi_dateOfInv}}</p>
  </div>

  <div class="standart-form-input-group inline">
    <p><span>Подразделение: </span><select name="invite-department-field" id="invite-department-field">
      {% for dep in deps %}
        <option value="{{dep.id}}">{{dep.name}}</option>
      {% endfor %}
    </select></p>
    
    <p><span>Должность: </span><select class="" id="sel_pos" name="sel_pos">
      {%for p in pos%}
        <option value="{{p.id}}">{{p}}</option>
      {%endfor%}
    </select></p>

    

  </div>
  <div class="standart-form-input-group">
    <p><span>{{form.loi_additionalData.label}}: </span>{{form.loi_additionalData}}</p>
  </div>
 
  

<div class="standart-form-input-group inline">
  <input class="button add" type="submit" value="Добавить" />
  <a class="button cancel" href=".">Отмена</a>
</div>
</form>

<script type="text/javascript">
$('#sel_pos').change(function() {
  $('#id_loi_position').val('')

  $('#id_loi_position').val($('#sel_pos option:selected').text())
})
</script>

{%endblock%}
