{%extends "reg_jounals/index.html" %}

{%block title%}Заявления на увольнение{%endblock%}
{%block header%} Журнал регистрации заявлений на увольнение. Всего: {{count}}. <a href="../">Назад</a> {%endblock%}
{%block content%}
<a class="btn btn-success btn-lg m-bottom " href="{%url 'letter_resignation_add_url' %}">Добавить</a>
{% if letters %}
<table>
  <thead class="thead-dark">
  <tr class="tr-header">
    <th scope="col">Номер</th>
    <th scope="col">Дата поступления</th>
    <th scope="col">Увольняемый</th>
    <th scope="col">Должность</th>
    <th scope="col">Подразделение</th>
    <th scope="col">Дата увольнения</th>
    <th scope="col">Ответственный сотрудник</th>
    <th scope="col">Примечание</th>
    <th scope="col"></th>
  </tr>
  </thead>

  {%for let in letters%}

  <tr>

    <td>{{let.id}}</td>
    <td>{{let.lor_date|date:"d.m.Y"}}</td>
    <td>{{let.lor_employee}}</td>
    <td>{{let.lor_position}}</td>
    <td>{{let.lor_departament}}</td>
    <td>{{let.lor_dateOfRes|date:"d.m.Y"}}</td>
    <td>{{let.lor_res_officer}}</td>
    <td>{{let.lor_additionalData}}</td>
    <td><a class="btn btn-outline-danger btn-sm btn-del"  href="{% url 'letter_resignation_upd_url' id=let.id %}">Изменить</a><a class=" btn-del btn btn-outline-danger btn-sm" href="{% url 'letter_resignation_del_url' id=let.id %}">Удалить</a></td>
</tr>
  {%endfor%}
</table>
{%else%}
<h2>Записей нет</h2>
{%endif%}
{%endblock%}
