{% extends "reg_jounals/index.html" %}

{%block title%}Изменить запись{% endblock %}
{%block header%}{%block logo%}{{block.super}}{%endblock%}Изменить запись - Заявление на увольнение{% endblock %}

{%block content%}

{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<form class="standart-form standart-panel" action="" method="post">
  {% csrf_token %}
  <div class="standart-form-header">
    <h4>Номер заявления: <span id="next_num">{{letter.lor_number}}</span></h4>
  </div>
  
  <div class="standart-form-input-group inline">
    <p><span>Работник: </span><select name="resignation-employer-field" id="resignation-employer-field">
  
      </select></p>

    <p><span>Подразделение: </span><select name="resignation-department-field" id="resignation-department-field" onchange="get_employers_from_department(this.value, 'resignation-employer-field')">
      {% for dep in deps%}
        <option value="{{dep.id}}">{{dep.name}}</option>
      {%endfor%}
    </select></p>



  </div>
  
  <div class="standart-form-input-group inline">
    <p><span>Дата заявления: </span>{{form.lor_date}}
    <p><span>{{form.lor_dateOfRes.label}}: </span>{{form.lor_dateOfRes}}</p>
  </div>


<div class="standart-form-input-group">
  <p><span>Основание: </span>{{form.lor_itemOfRes}}</p>
</div>

<div class="standart-form-input-group">
  <p><span>{{form.lor_additionalData.label}}: </span>{{form.lor_additionalData}}</p>

  <datalist id="additional-metadata">
    {% for Row in AddMetadata %}
      <option value="{{Row.text}}"></option>
    {% endfor %}
</datalist>

</div>

<div class="standart-form-input-group inline">
  <input class="button add" type="submit" value="Добавить" />
  <a class="button cancel" href=".">Отмена</a>
  {% if editing or request.user.is_superuser %}
  <a class="button cancel" onclick="open_additional_menu(this, 'delete-document-popup')" href="#">Удалить</a>
  {% endif %}
</div>
</form>


<div id="delete-document-popup" style="display: none;" class="standart-panel standart-form popup"> 
  <div class="standart-form-header">
    <h4>Вы уверены?</h4>
  </div>

  <div class="standart-form-input-group inline">
    <a class="button add" href="{% url 'document_delete' type=9 id=letter.id %}">Да</a>
    <a class="button cancel" onclick="this.parentNode.parentNode.style.display = 'none' ">Нет</a>
  </div>

</div> 


<script type="text/javascript">
  (function (){
    document.getElementById('resignation-department-field').value = '{{letter.department_id}}'
    get_employers_from_department('{{letter.department_id}}', 'resignation-employer-field')
    setTimeout(function() {document.getElementById('resignation-employer-field').value = '{{letter.bound_employer_id}}'}, 500)
  })()
</script>

{%endblock%}
