{%extends "reg_jounals/index.html" %}

{%block title%}Заявления на увольнение{%endblock%}
{%block header%}<a class="btn btn-outline-info" href="../"> < назад</a> Журнал регистрации заявлений на увольнение. Всего: {{count}}.  {%endblock%}
{%block content%}
<form action="{% url 'resignation' %}">
  <input type="search" name="lor_search" placeholder="Поиск по ФИО..">
  <button class="btn btn-sm btn-warning" type="submit" name="" value="Найти">Найти</button>
</form>
<a class="btn btn-success btn-lg m-bottom  btn-add" href="{%url 'letter_resignation_add_url' %}"> + Добавить</a>
{% if letters %}
<table>
  <thead class="thead-dark">
  <tr class="tr-header">
    <th scope="col">Номер</th>
    <th scope="col">Дата поступления</th>
    <th scope="col">Увольняемый</th>
    <th scope="col">Должность</th>
    <th scope="col">Подразделение</th>
    <th scope="col">Дата увольнения</th>
    <th scope="col">Ответственный сотрудник</th>
    <th scope="col">Примечание</th>

  </tr>
  </thead>

  {%for let in letters.object_list%}

 <tr onclick="return location.href = '{% url 'letter_resignation_upd_url' id=let.id%}' ">

    <td>{{let.lor_number}}</td>
    <td>{{let.lor_date|date:"d.m.Y"}}</td>
    <td>{{let.lor_employee}}</td>
    <td>{{let.lor_position}}</td>
    <td>{{let.lor_departament}}</td>
    <td>{{let.lor_dateOfRes|date:"d.m.Y"}}</td>
    <td>{{let.lor_res_officer}}</td>
    <td>{{let.lor_additionalData}}</td>

</tr>
  {%endfor%}
</table>

<nav  class="paginator" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
<span aria-hidden="true">&laquo;</span>
      </a>
    </li>
{% for p in letters.paginator.page_range %}
  {% if letters.number == p%}
   <li class="page-item active"><a class="page-link" href="?page={{p}}">{{ p }}</a></li>
   {%else%}
        <li class="page-item"><a class="page-link" href="?page={{p}}">{{ p }}</a></li>
    {%endif%}
  {% endfor %}

{%if letters.has_next%}
    <li class="page-item">
      <a class="page-link" href='?page={{letters.next_page_number}}' aria-label="Next">
<span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  {%else%}
  <li class="page-item disabled">
    <a class="page-link" href='#' aria-disabled='true' aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
  {%endif%}
  </ul>
</nav>



{%else%}
<h2>Записей нет</h2>
{%endif%}

{%endblock%}
