{% extends "reg_jounals/index.html" %}

{%block title%}Изменить запись{% endblock %}
{%block header%}{%block logo%}{{block.super}}{%endblock%}Изменить запись{% endblock %}

{%block content%}

{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<form class="standart-form standart-panel" action="" method="post">
  {% csrf_token %}
  <div class="standart-form-header">
    <h4>Номер заявления: <span id="next_num">{{letter.loi_number}}</span></h4>
  </div>
  
  <div class="standart-form-input-group inline">
    <p><span>ФИО (полностью): </span> {{form.loi_employee}}</p>
    <p><span>Дата: </span>{{form.loi_date}}</p>
    <p><span>{{form.loi_dateOfInv.label}}: </span>{{form.loi_dateOfInv}}</p>
  </div>

  <div class="standart-form-input-group inline">
    <p><span>Подразделение: </span><select name="invite-department-field" id="invite-department-field">
      {% for dep in deps %}
        <option value="{{dep.id}}">{{dep.name}}</option>
      {% endfor %}
    </select></p>
    
    <p><span>Должность: </span><select class="" id="sel_pos" name="sel_pos">
      {%for p in pos%}
        <option value="{{p.id}}">{{p}}</option>
      {%endfor%}
    </select></p>
    </div>
    

    <div class="standart-form-input-group">
      <p><span>{{form.loi_additionalData.label}}: </span>{{form.loi_additionalData}}</p>
    </div>
  
    <div class="standart-form-input-group">
      <p><span>{{form.reason.label}}: </span>{{form.reason}}</p>
          <datalist id="additional-metadata">
            {% for Row in AddMetadata %}
              <option value="{{Row.text}}"></option>
            {% endfor %}
          </datalist>
    </div>
    
 
  

<div class="standart-form-input-group inline">
  <input class="button add" type="submit" value="Сохранить" />
  <a class="button cancel" href="..">Отмена</a>
  {% if editing or request.user.is_superuser %}
    <a class="button cancel" onclick="open_additional_menu(this, 'delete-document-popup')" href="#">Удалить</a>
  {% endif %}
</div>
</form>

<div id="delete-document-popup" style="display: none;" class="standart-panel standart-form popup"> 
  <div class="standart-form-header">
    <h4>Вы уверены?</h4>
  </div>

  <div class="standart-form-input-group inline">
    <a class="button add" href="{% url 'document_delete' type=3 id=letter.id %}">Да</a>
    <a class="button cancel" onclick="this.parentNode.parentNode.style.display = 'none' ">Нет</a>
  </div>

</div> 

<script type="text/javascript">
(function(){
  document.getElementById('invite-department-field').value  = '{{letter.department_id}}'
  document.getElementById('sel_pos').value                  = '{{letter.position_id}}'
})()
</script>

{%endblock%}
