{% extends "reg_jounals/index.html" %}

{%block title%}Добавить запись{% endblock %}
{%block header%}Добавить запись - Заявление на увольнение №{{next_num}}{% endblock %}

{%block content%}
{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<form class="add_form" action="" method="post">
  {% csrf_token %}

  {% for field in form %}
  <p>{{field.label}}{{ field }}</p>
  {% endfor%}

  <input class="btn btn-success" type="submit" value="Добавить" />
  <a class="btn btn-outline-danger" href=".">Отмена</a>
</form>

{%endblock%}
