{% extends "reg_jounals/index.html" %}



{%block title%}Изменить запись{% endblock %}
{%block header%}{{item.fio}} в приказе {{order.order_number}}{% endblock %}

{%block content%}

{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<form class="add_form sick_list" action="" method="post">
  {% csrf_token %}
  <!-- <p>Номер реестра:{{form.sd_reg_number}}</p> -->
  <p>{{form.fio.label}}{{form.fio}}</p>
  <p>{{form.dep.label}}{{form.dep}}</p>
  <p>{{form.dur_from.label}}{{form.dur_from}}</p>
  <p>{{form.dur_to.label}}{{form.dur_to}}</p>
  <p>{{form.days_count.label}}{{form.days_count}}</p>
  <p>{{form.vac_type.label}}{{form.vac_type}}</p>
  <p>{{form.comm.label}}{{form.comm}}</p>



<input class="btn btn-success" onclick="" type="submit" value="Сохранить" />
  <a class="btn btn-outline-danger" href="/orders_on_vacation_new/{{item.bound_order.id}}/create">Отмена</a>
</form>

{%endblock%}
