{% extends "reg_jounals/index.html" %}



{%block title%}Изменить запись{% endblock %}
{%block header%}{%block logo%}{{block.super}}{%endblock%}{{item.fio}} в приказе {{item.bound_order.order_number}}{% endblock %}

{%block content%}

{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<form id="vacation" class="standart-form standart-panel search" action="" method="post">
  {% csrf_token %}

  <div class="standart-form-input-group inline">
    <p>{{form.fio.label}}:{{form.fio}}</p>
    <p>{{form.dep.label}}:{{form.dep}}</p>
  </div>
 
  
    <div class="standart-form-input-group inline">
      <p><span>Начало:</span>{{form.dur_from}} </p>
      <p><span>Окончание:</span>{{form.dur_to}}</p>
      <p><span>{{form.vac_type.label}}:</span>{{form.vac_type}}</p>
      <p><span>Дни:</span>{{form.days_count}}</p>
    </div>
   
    <div class="standart-form-input-group"> 
      
      <p>{{form.comm.label}}{{form.comm}}</p>
    </div>




<div class="standart-form-input-group inline">
  <input class="button add" onclick="" type="submit" value="Сохранить" />
  <a  id="close" class="button cancel" href="/orders_on_vacation_new/{{item.bound_order.id}}/create">Отмена</a>
</div>
</form>

<script type="text/javascript">
  prev = document.referrer
  $('#close').attr('href', prev)
</script>

{%endblock%}
