{% extends "reg_jounals/index.html" %}



{%block title%}Изменить запись{% endblock %}
{%block header%}{%block logo%}{{block.super}}{%endblock%}{{item.fio}} в приказе {{item.bound_order.order_number}}{% endblock %}

{%block content%}

{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<form id="vacation" class="add_form" action="" method="post">
  {% csrf_token %}

  <p>{{form.fio.label}}{{form.fio}}</p>
  <p>{{form.dep.label}}{{form.dep}}</p>
  <p class="p_unite"><span>{{form.dur_from.label}}{{form.dur_from}} </span> <span>{{form.dur_to.label}}{{form.dur_to}}</span></p>

  <p class="p_unite"><span>{{form.days_count.label}}{{form.days_count}}</span> <span>{{form.vac_type.label}}{{form.vac_type}}</span></p>

  <p>{{form.comm.label}}{{form.comm}}</p>




<input class="btn btn-success" onclick="" type="submit" value="Сохранить" />
  <a  id="close" class="btn btn-outline-danger" href="/orders_on_vacation_new/{{item.bound_order.id}}/create">Отмена</a>
</form>

<script type="text/javascript">
  prev = document.referrer
  $('#close').attr('href', prev)
</script>

{%endblock%}
