{%extends "reg_jounals/index.html" %}

{%block title%}Приказы по другим вопросам{%endblock%}
{%block header%} <a class="btn btn-dark" href="../"> < Назад</a> Журнал регистрации приказов по другим вопросам. Всего: {{count}}.  {%endblock%}
{%block content%}
<div id="frame_" class="frame">
  <iframe id="iframe" src="" width="" height=""></iframe>
  <button type="button" class="btn btn-success" onclick="send_submit()" name="button">Сохранить</button>
  <button type="button" onclick="close_frame()"class="btn btn-outline-danger" name="button">Отмена</button>
</div>
<form action="{% url 'orders_on_others' %}">
  <input type="date" id="search_date" name="oom_search_from" placeholder="C">
  <input type="date" id="search_date2" name="oom_search_to" placeholder="По">
  <select class=""  name="oom_search_res">
    <option value="">Поиск по ответственному сотруднику</option>
      {%for u in res_users %}
      <option value="{{u.first_name}}">{{u.first_name}}</option>
      {%endfor%}
  </select>
  <button class="btn btn-sm btn-dark" type="submit" name="" value="Найти">Найти</button>
</form>
<button type="button" class="btn btn-success btn-lg m-bottom btn-add " onclick="open_frame_new()" > + Добавить</button>



{% if orders %}
<table>
  <thead class="thead-dark">
  <tr class="tr-header">

    <th scope="col">Дата приказа</th>
    <th scope="col">Номер</th>
    <th scope="col">Содержание</th>
    <th scope="col">Ответственный сотрудник</th>


  </tr>
  </thead>

  {%for order in orders%}

<tr  id="{{order.id}}" onclick="open_for_upd({{order.id}})">

    <td>{{order.oom_date|date:"d.m.Y"}}</td>
    <td>{{order.oom_number}}</td>
    <td>{{order.oom_content}}</td>
    <td>{{order.oom_res_officer}}</td>

</tr>
  {%endfor%}
</table>
<nav  class="paginator" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
<span aria-hidden="true">&laquo;</span>
      </a>
    </li>
{% for p in orders.paginator.page_range %}
  {% if orders.number == p%}
   <li class="page-item active"><a class="page-link" href="?page={{p}}">{{ p }}</a></li>
   {%else%}
        <li class="page-item"><a class="page-link" href="?page={{p}}">{{ p }}</a></li>
    {%endif%}
  {% endfor %}

{%if orders.has_next%}
    <li class="page-item">
      <a class="page-link" href='?page={{orders.next_page_number}}' aria-label="Next">
<span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  {%else%}
  <li class="page-item disabled">
    <a class="page-link" href='#' aria-disabled='true' aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
  {%endif%}
  </ul>
</nav>

{%else%}
<h2>Записей нет</h2>
{%endif%}
{%endblock%}
