{% extends "reg_jounals/index.html" %}


{%block title%}Приказ №{{order.op_number}}{% endblock %}
{%block header%}Изменить запись - Приказ №{{order.op_number}}{% endblock %}

{%block content%}

{% if form.errors%}


<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<style media="screen">
  #id_op_selected {
    width: 9%;
  }
  #id_op_lastcheck {
    width: 9%;
  }
</style>
<form class="add_form personnel" action="" method="post">
  {% csrf_token %}

  <p>{{form.op_selected.label}}:{{form.op_selected}} {{form.op_lastcheck.label}}:{{form.op_lastcheck}}</p>

  <p>{{form.op_date.label}}:{{form.op_date}}</p>
  <p>{{form.op_emloyer.label}}:{{form.op_emloyer}}</p>
  <p>{{form.op_dep.label}}:{{form.op_dep}}</p>
  <p>{{form.op_content.label}}:{{form.op_content}}</p>

<div class="buttons">
  <input class="btn btn-success" type="submit" value="Сохранить" />


    <a class="btn btn-outline-danger"  href="..">Закрыть</a>
  </div>

</form>

{%endblock%}
