{%extends "reg_jounals/index.html" %}

{%block title%}Приказ № {%endblock%}
{%block header%} <a class="btn btn-outline-info" href="/journals/orders_on_vacation_new/"> < назад</a> Приказ на отпуск № {{order.order_number}} от {{order.order_date}}. Людей в приказе: {{count}}  {%endblock%}
{%block content%}



{% if items %}

<table>
  <thead class="thead-dark">
  <tr class="tr-header">


    <th scope="col">ФИО</th>
    <th scope="col">Подразделение</th>
    <th scope="col">Дата начала</th>
    <th scope="col">Дата окончания</th>
    <th scope="col">Дней отпуска</th>
    <th scope="col">Вид отпуска</th>
    <th scope="col">Примечание</th>
    <th scope="col"></th>



  </tr>
  </thead>

  {%for item in items %}

<tr onclick="return location.href = '{% url 'new_order_on_vacation_updItem' id=item.id%}' ">


    <td class="tnumber">{{item.fio}}</td>
    <td>{{item.dep}}</td>
    <td>{{item.dur_from|date:"d.m.Y"}}</td>
    <td>{{item.dur_to|date:"d.m.Y"}}</td>
    <td>{{item.days_count}}</td>
    <td>{{item.vac_type}}</td>
    <td>{{item.comm}}</td>
    <td><a class="btn btn-sm btn-danger btn-delete"href="{% url 'new_order_on_vacation_delItem' id=item.id%}">Удалить</a></td>
</tr>
  {%endfor%}

</table>

{%endif%}
<a class="btn btn-success btn-lg m-bottom btn-sm btn-add print" href="{% url 'new_order_on_vacation_addItem' order_id=order.id %}"> + Добавить сотрудника в приказ</a>
{%endblock%}
