{% extends "reg_jounals/index.html" %}

{%block title%}Добавить запись{% endblock %}
{%block header%}Добавить запись - Приказ на отпуск{% endblock %}

{%block content%}
{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<form class="add_form vacation" action="" method="post">
  {% csrf_token %}
  <!-- {% for field in form %}
  <div>{{field.label}}{{ field }}</div>
  {% endfor%} -->
  <div class="v_num">
    <h5>Номер приказа: {{next_num}}К-ОТП</h5>
  </div>

  <div class="v_date">
    {{form.oov_date.label}}
    {{form.oov_date}}
  </div>

  <div class="vac_empList">
    {{form.oov_empList.label}}
    {{form.oov_empList}}
  </div>


  <div class="fio">
    <label for="emp_name">ФИО:</label>
    <input type="text" name="emp_name"  value="">
  </div>

  <div class="dep">
    <label for="emp_dep">Подразделение:</label>
    <select type="text" name="emp_dep" value="">
      {%for dep in depts%}
      <option value="{{dep.dep_name}}">{{dep.dep_name}}</option>
      {%endfor%}
      </select>
  </div>

  <div class="dur">
      <p>Период:</p>
    <p><label for="emp_dur_from">C: </label></p>
    <input  id="id_doc_date" type="text" name="emp_dur_from">
    <p><label  for="emp_due_to">по: </label></p>
    <input id="id_doc_date2" onchange="col_days()"  type="text" name="emp_dur_to">
  </div>

  <div class="days">
    <label for="emp_days">Кол-во дней:</label>
    <input id="id_doc_date" onchange="duration()" type="text" name="emp_days">
  </div>

  <div class="vac_type">
    <label for="emp_vacType">Вид отпуска:</label>
    <select type="text" name="emp_vacType" value="">
      <option value="Очередной">Очередной</option>
      <option value="Пенсионный">Пенсионный</option>
      <option value="Без сохр. з.п.">Без сохр. з.п.</option>
      </select>
  </div>

  <div class="comm">
    <label for="comm">Примечание:</label>
    <input type="text" name="comm">
  </div>

  <input onclick="FillList()" type="button" class="btn btn-outline-info w50 list_add" name="" value="Добавить сотрудника в приказ">



  <input class="btn btn-success vac_addDoc" type="button" onclick="this.parentNode.submit();" value="Добавить" />
  <a class="btn btn-outline-danger vac_canDoc" href=".">Отмена</a>
</form>

{%endblock%}
