{%extends "reg_jounals/index.html" %}

{%block title%}Приказ № {{order.order_number}}{%endblock%}
{%block header%} <a class="btn btn-dark" href="/orders_on_vacation_new/"> < назад</a> Приказ на отпуск № {{order.order_number}} от {{order.order_date}}. Людей в приказе: {{count}}  <input type="button" id="sure_btn" class="btn btn-danger" onclick="OpenSureDialog();" value="Удалить приказ"> {%endblock%}
{%block content%}
<div id="sure" style="display: none;" class="yousure">
  <p>Вы уверены? <span style="color: red;"><b>ЭТО ДЕЙСТВИЕ НЕОБРАТИМО</b></span></p>
  <a class="btn btn-outline-danger" style="width: 332px;" href="{% url 'orders_on_vacation_new_del' id=order.id%}">Да</a>

</div>
<div id="frame_" class="frame vacantion">
  <iframe id="iframe" src="" width="" height=""></iframe>
  <button type="button" class="btn btn-success" onclick="send_submit()" name="button">Сохранить</button>
  <button type="button" onclick="close_frame()"class="btn btn-outline-danger" name="button">Отмена</button>
</div>


{% if items %}

<table class="vac_table">
  <thead class="thead-dark">
  <tr class="tr-header">


    <th scope="col">ФИО</th>
    <th scope="col">Подразделение</th>
    <th scope="col">Дата начала</th>
    <th scope="col">Дата окончания</th>
    <th scope="col">Дней отпуска</th>
    <th scope="col">Вид отпуска</th>
    <th scope="col">Примечание</th>
    <th scope="col"></th>



  </tr>
  </thead>

  {%for item in items %}

<tr id="{{item.id}}" onclick="return location.href = '{% url 'new_order_on_vacation_updItem' id=item.id%}' ">
<!-- <tr id="{{item.id}}" onclick="open_for_upd({{item.id}})"> -->


    <td id="name">{{item.fio}}</td>
    <td id="dep">{{item.dep}}</td>
    <td id="from">{{item.dur_from|date:"d.m.Y"}}</td>
    <td id="to">{{item.dur_to|date:"d.m.Y"}}</td>
    <td id="days">{{item.days_count}}</td>
    <td id="type">{{item.vac_type}}</td>
    <td id="comm">{{item.comm}}</td>
    <td ><a class="btn btn-sm btn-danger btn-delete"href="{% url 'new_order_on_vacation_delItem' id=item.id%}">Удалить</a></td>
</tr>
  {%endfor%}

</table>

{%endif%}
<a class="btn btn-success btn-lg m-bottom btn-sm btn-add print" href="{% url 'new_order_on_vacation_addItem' order_id=order.id %}"> + Добавить сотрудника в приказ</a>
<!-- <button type="button" id="btn-add" class="btn btn-success btn-sm m-bottom btn-add " onclick="open_frame_new()" > + Добавить</button> -->
{%endblock%}
