{%extends "reg_jounals/index.html" %}

{%block title%}Приказ № {{order.order_number}}{%endblock%}
{%block header%}<a id="close" class="button back" href="/orders_on_vacation_new/"> < назад</a>{%block logo%}{{block.super}}{%endblock%}  Приказ на отпуск № {{order.order_number}} от {{order.order_date}}. {%endblock%}
{%block content%}
<div id="sure" style="display: none;" class="standart-panel search panel">
  
  <div class="search-panel-header"><p>Вы уверены? <span style="color: red;"><b>ЭТО ДЕЙСТВИЕ НЕОБРАТИМО</b></span></p></div>
  
  <div class="search-panel-input-group">
    <a class="button add"  href="{% url 'orders_on_vacation_new_del' id=order.id%}">Да</a>
    <a class="button cancel" href="#">Нет </a>
  </div>
</div>

<div class="standart-menu">

  <a class="button add" href="{% url 'new_order_on_vacation_addItem' order_id=order.id %}">Добавить работника</a>
  <input type="button" class="button" value="Заполнить по графику">
  <input type="button" id="sure_btn" class="button cancel" onclick="open_search_menu(this, 'sure');" value="Удалить приказ">

</div>



{% if items %}

<table class="vac_table">
  <thead class="thead-dark">
  <tr class="tr-header">


    <th scope="col">ФИО</th>
    <th scope="col">Подразделение</th>
    <th scope="col">Дата начала</th>
    <th scope="col">Дата окончания</th>
    <th scope="col">Дней отпуска</th>
    <th scope="col">Вид отпуска</th>
    <th scope="col">Примечание</th>




  </tr>
  </thead>

  {%for item in items %}

<tr id="{{item.id}}" oncontextmenu="show_context_menu(this, '{{item.id}}', 27)" onclick="return location.href = '{% url 'new_order_on_vacation_updItem' id=item.id%}' ">
<!-- <tr id="{{item.id}}" onclick="open_for_upd({{item.id}})"> -->

    {% if item.bound_employer%}
      <td id="name">{{item.bound_employer.fullname}}</td>
    {%else%}
      <td id="name">{{item.fio}}</td>
    {%endif%}
    
    {% if item.department_new %}
      <td id="dep">{{item.department_new}}</td>
    {% else %}
      <td id="dep">{{item.dep}}</td>
    {% endif %}
    
    <td id="from">{{item.dur_from|date:"d.m.Y"}}</td>
    <td id="to">{{item.dur_to|date:"d.m.Y"}}</td>
    <td id="days">{{item.days_count}}</td>
    <td id="type">{{item.vac_type}}</td>
    {% if item.comm %}
      <td id="comm">{{item.comm}}</td>
    {% else %}
      <td id="comm"></td>
    {% endif %}

</tr>
  {%endfor%}

</table>

{%endif%}

<div class="standart-panel panel standart-context-menu no-display"  id="context-menu-container">
  <input type="button" class="button cancel" id="context-menu-cancel" value="Удалить из приказа">
</div>

<div id="cancel-reason-accept-container" style="display: none;" class="standart-panel  search panel">
  
  <div class="search-panel-header"><p>Вы уверены? <span style="color: red;"><b>ЭТО ДЕЙСТВИЕ НЕОБРАТИМО</b></span></p></div>
  
  <div class="search-panel-input-group">
    <a class="button add" id="cancel-accept" href="">Да</a>
    <a class="button cancel" onclick="close_all_panels()" href="#">Нет </a>
  </div>
</div>

<!-- <button type="button" id="btn-add" class="btn btn-success btn-sm m-bottom btn-add " onclick="open_frame_new()" > + Добавить</button> -->
<!-- <script type="text/javascript">
  prev = document.referrer
  $('#close').attr('href', prev)
</script> -->
{%endblock%}
