{%extends "reg_jounals/index.html" %}

{%block title%}Приказы по личному составу{%endblock%}
{%block header%} <a class="btn btn-dark" href="../"> < Назад</a> Журнал регистрации приказов по личному составу. Всего: {{count}}.  {%endblock%}
{%block content%}
<div id="frame_" class="frame">
  <iframe id="iframe" src="" width="" height=""></iframe>
  <button type="button" class="btn btn-success" onclick="send_submit()" name="button">Сохранить</button>
  <button type="button" onclick="close_frame()"class="btn btn-outline-danger" name="button">Отмена</button>
</div>

<div style="display: inline-flex" class="op_header">

  <form style="margin-right: 15px;" action="{% url 'orders_on_personnel' %}">
    <input type="date" id="search_date" name="op_search_from" placeholder="Период с:">
    <input type="date" id="search_date2" name="op_search_to" placeholder="по">
    <button class="btn btn-sm btn-dark" type="submit" name="" value="Найти">Найти</button>
  </form>
<form action="{% url 'orders_on_personnel' %}">
  <input type="search" name="op_search" placeholder="Поиск по ФИО..">
  <button class="btn btn-sm btn-dark" type="submit" name="" value="Найти">Найти</button>
</form>

<a style="margin-left: 10px" onclick="PrintSelected();" class="op_print btn btn-sm btn-warning" href="#">Печать выбранных</a>
</div>
<a class="btn btn-success btn-lg m-bottom btn-add " href="{%url 'orders_on_personnel_add_url'%}"> + Добавить</a>
<!-- <button class="btn btn-success btn-lg m-bottom btn-add " type="button" name="button" onclick="open_frame_new()"> + Добавить</button> -->
{% if orders %}
<table>
  <thead class="thead-dark">
  <tr class="tr-header">

    <th></th>
    <th scope="col">Дата приказа</th>
    <th scope="col">Номер</th>
    <th scope="col">Сотрудник</th>
    <th scope="col">Подразделение</th>

    <th scope='col'>Содержание</th>


    <th scope="col">Ответственный сотрудник</th>




  </tr>
  </thead>

  {%for order in orders%}
{%if order.op_selected %}

<tr style="background: #f9dd89;" ondblclick="return location.href = '{% url 'orders_on_personnel_upd_url' id=order.id%}' ">
<!-- <tr id="{{order.id}}" style="background: #f9dd89;" class="t_row" ondblclick="open_for_upd({{order.id}})"> -->
    {%else%}
    {%if order.op_lastcheck %}
    <tr style="background: darkseagreen;" ondblclick="return location.href = '{% url 'orders_on_personnel_upd_url' id=order.id%}' ">
    <!-- <tr id="{{order.id}}"  class="t_row" ondblclick="open_for_upd({{order.id}})"> -->
        {%else%}
              <tr ondblclick="return location.href = '{% url 'orders_on_personnel_upd_url' id=order.id%}' ">
            {%endif%}
            {%endif%}
    <td><input type="checkbox" class="for_print" name="forprint" value=""></td>
    <td id="date">{{order.op_date|date:"d.m.Y"}}</td>
    <td id='number'>{{order.op_number}}</td>
    <td id="emloyer">{{order.op_emloyer}}</td>
    <td id="dep">{{order.op_dep}}</td>
    <td id="content">{{order.op_content}}</td>
    <td id="res_officer">{{order.op_res_officer}}</td>


</tr>





  {%endfor%}
</table>

<nav  class="paginator" aria-label="Page navigation example">
  <ul class="pagination">
    {%if orders.has_previous%}
        <li class="page-item">
          <a class="page-link" aria-label="previous" href="?page=1">
              <span aria-hidden="true">Первая</span></a>
        </li>
        <li class="page-item">
          <a class="page-link" href='?page={{orders.previous_page_number}}' aria-label="previous">
    <span aria-hidden="true">{{orders.previous_page_number}}</span>
          </a>
        </li>
  {%endif%}

   <li class="page-item active"><a class="page-link" href="">{{ orders.number }}</a></li>

{%if orders.has_next%}
    <li class="page-item">
      <a class="page-link" href='?page={{orders.next_page_number}}' aria-label="Next">{{orders.next_page_number}}</a>
      </li>
  {%endif%}

  <li class="page-item">
  <a class="page-link" href="?page={{ orders.paginator.num_pages }}">Последняя</a>
  </li>
</ul>
</nav>
{%else%}
<h2>Записей нет</h2>
{%endif%}
<style>
table tr td input {
  background: red;
}


</style>
{%endblock%}
