{% extends "reg_jounals/index.html" %}


{%block title%}Приказ №{{order.op_number}}{% endblock %}
{%block header%}{%block logo%}{{block.super}}{%endblock%}Изменить запись - Приказ №{{order.op_number}}{% endblock %}

{%block content%}

{% if form.errors%}


<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<style media="screen">
  #id_op_selected {
    width: 9%;
  }
  #id_op_lastcheck {
    width: 9%;
  }
</style>
<form class="standart-form standart-panel" action="" method="post" style="grid-template-areas: none !important; grid-gap: 14px;">
  {% csrf_token %}
  <div class="standart-form-header"><a href="">{{order.bound_employer.fullname}}</a></div>
  
  
  <p>{{form.op_selected.label}}:{{form.op_selected}} {{form.op_lastcheck.label}}:{{form.op_lastcheck}}</p>

  <p>{{form.op_date.label}}:{{form.op_date}}</p>
  <p>{{form.op_type.label}}:{{form.op_type}}</p>
  <p id="op_invite">{{form.op_dateOfInv.label}}:{{form.op_dateOfInv}}</p>
  <p id="op_typeOfWork">{{form.op_typeOfWork.label}}:{{form.op_typeOfWork}}</p>
  <p id="op_probation">{{form.op_probation.label}}:{{form.op_probation}}</p>
  <p id="op_moveFrom">{{form.op_moveFrom.label}}:{{form.op_moveFrom}}</p>
  <p id="op_moveTo">{{form.op_moveTo.label}}:{{form.op_moveTo}}</p>
  <p>{{form.op_emloyer.label}}:{{form.op_emloyer}}</p>
  <p>{{form.op_dep.label}}:{{form.op_dep}}</p>
  <p>{{form.op_content.label}}:{{form.op_content}}</p>

<div class="buttons" style="grid-area:auto">
  <input class="btn btn-success" type="submit" value="Сохранить" />


    <a id="close" class="btn btn-outline-danger"  href="..">Закрыть</a>
  </div>

</form>

<script type="text/javascript">
  prev = document.referrer
  $('#close').attr('href', prev)

  $('document').ready(function(){
    closeAllFields()
    switch ($('#id_op_type option:selected').val()) {
      case '1':
          inviteOnWork()
        break;

      case '3':
          MoveOnOtherWork()
      break;

      default:

    }
  })
</script>

{%endblock%}
