{% extends "reg_jounals/index.html" %}
{%load static%}
{%block title%}Добавить запись{% endblock %}
{%block header%}Добавить запись - Приказ по личному составу{% endblock %}

}

{%block content%}


{% if form.errors%}



<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<style media="screen">
  #id_op_selected {
    width: 9%;
  }

  #id_op_lastcheck {
    width: 9%;
  }
</style>

<form class="add_form personnel" action="" method="post">
  {% csrf_token %}
  <div class="op_main">


  <h4>Номер приказа <span id='next_num'>{{next_num}}ЛС</span></h4>

  <p>{{form.op_selected.label}}:{{form.op_selected}} {{form.op_lastcheck.label}}:{{form.op_lastcheck}}</p>

  <p>{{form.op_date.label}}:{{form.op_date}}</p>
  <p>{{form.op_type.label}}:{{form.op_type}}</p>
  <p id="op_invite">{{form.op_dateOfInv.label}}:{{form.op_dateOfInv}}</p>
  <p id="op_resign">{{form.op_dateOfRes.label}}:{{form.op_dateOfRes}}</p>
  <p id="op_typeOfWork">{{form.op_typeOfWork.label}}:{{form.op_typeOfWork}}</p>
  <p id="op_probation">{{form.op_probation.label}}:{{form.op_probation}}</p>
  <p id="op_moveFrom">{{form.op_moveFrom.label}}:{{form.op_moveFrom}}</p>
  <p id="op_moveTo">{{form.op_moveTo.label}}:{{form.op_moveTo}}</p>
  <p>{{form.op_emloyer.label}}:{{form.op_emloyer}}</p>
  <p>{{form.op_dep.label}}:{{form.op_dep}}</p>
  <p>{{form.op_content.label}}:{{form.op_content}}</p>
  </div>
  <div class="to_tabel">
    <h4>Табельный учет</h4>
    <label for="short_fio">ФИО:</label>
    <p><input type="text" name="short_fio" id='short_fio' value="" disabled></p>
    <p><label for=tab_pos"">Должность:</label></p>
    <p><select class="" id="tab_pos" name="tab_pos" disabled>
      {% for pos in tab_pos %}
      <option value="{{pos.id}}">{{pos.name}}</option>
      {%endfor%}
    </select></p>
    <label for="dep_for_tabel">Подразделение табельного учета:</label>
    <p><select class="" name="dep_for_tabel" disabled>
    {% for dep in tab_deps %}
    <option value="{{dep.id}}">{{dep.name}}</option>
    {%endfor%}
    </select></p>
    <p><label for="tab_level">Разряд\категория:</label></p>
    <p><input type="text" id="tab_level" name="tab_level" value="" disabled required></p>
    <p><label for="tab_payment">Ступень оплаты:</label></p>
    <p><input type="text" id="tab_payment" name="tab_payment" id="" disabled required></p>
    <p><label for="tab_work">Режим работы:</label></p>
    <p><select class="" name="tab_work" disabled>
        <option value="0">Дневной</option>
        <option value="1">Сменный</option>

    </select></p>
    <p><label for="tab_sex">Пол:</label></p>
    <p><select class="" name="tab_sex" disabled>
      <option value="М">М</option>
      <option value="Ж">Ж</option>

    </select></p>
  </div>

<div class="buttons">
  <input class="btn btn-success" style="" type="submit" value="Добавить" />
  <a class="btn btn-outline-danger" href=".">Отмена</a>
  </div>
</form>
<script type="text/javascript">
  $('document').ready(function(){
    closeAllFields()
  })
  document.getElementById('id_op_type').onchange = function() {

    switch ($('#id_op_type option:selected').val()) {
      case '1':
        closeAllFields()
        all_on()
        inviteOnWork()
      break;

      case '2':
        closeAllFields()
        all_off()
        ResignFromWork()
      break;

      case '3':
        all_off()
        closeAllFields()
        MoveOnOtherWork()

      break;


      default:
      all_off()
      closeAllFields()

    }


  }

$("#id_op_typeOfWork").change(function(){
  if (($('#id_op_typeOfWork option:selected').val() == "Временно") && ($('#id_op_type option:selected').val() == 3))  {
    $('#op_moveTo').css('display','')
  }
  else {
    $('#op_moveTo').css('display','none')
  }

})

$('#id_op_content').focus(function(){



  switch ($('#id_op_type option:selected').val()) {
      case '1':

        invdate = $('#id_op_dateOfInv').val().split('-')
        invdate = invdate[2] + '.' + invdate[1] + '.' + invdate[0]

        if ($('#id_op_probation').val()) {
          probation = ', с испытательным сроком ' + $('#id_op_probation').val() + ' мес.'
        }
        else {
          probation = ""
        }

        text = 'Прием c ' + invdate + ' ' + $('#id_op_typeOfWork option:selected').text().toLowerCase() + ' на должность ' + $('#tab_pos option:selected').text().toLowerCase() + ' по ' + $('#tab_payment').val() + ' ступени, разряд(категория): ' + $('#tab_level').val() + probation

      break;

      case '3':
        date_from = $('#id_op_moveFrom').val().split('-')
        date_from = date_from[2] + '.' + date_from[1] + '.' + date_from[0]

        if ($('#id_op_moveTo').val()) {
          date_to = $('#id_op_moveTo').val().split('-')
          date_to = ' по ' + date_to[2] + '.' + date_to[1] + '.' + date_to[0] }
        else {
          date_to = ''
        }
       text = 'Перевод ' + $('#id_op_typeOfWork option:selected').text().toLowerCase() + ' на должность ' + $('#tab_pos option:selected').text().toLowerCase() + ' c ' + date_from + date_to
    break;

    case '2':
      dateres = $('#id_op_dateOfRes').val().split('-')
      dateres = dateres[2] + '.' + dateres[1] + '.' + dateres[0]

      text = 'Увольнение ' + dateres + ' по'
    break;

    default:

  }

$('#id_op_content').val(text)

})


</script>
{%endblock%}
