{%extends "reg_jounals/index.html" %}

{%block title%}Приказы на отпуск{%endblock%}
{%block header%} <a class="btn btn-dark" href="../"> < Назад</a> Журнал регистрации приказов на отпуск. Всего: {{count}}.  {%endblock%}
{%block content%}
<div id="frame_" class="frame vacantion">
  <iframe id="iframe" src="" width="" height=""></iframe>
  <button type="button" class="btn btn-success" onclick="send_submit()" name="button">Сохранить</button>
  <button type="button" onclick="close_frame()"class="btn btn-outline-danger" name="button">Отмена</button>
</div>


<form action="{% url 'orders_on_vacation_new' %}">
  <input type="search" name="vac_search" placeholder="Поиск по ФИО..">
  <select class="" name="vac_dep_search">
    {% for dep in deps%}
      <option value="{{dep.id}}">{{dep.dep_name}}</option>
    {%endfor%}
  </select>

  <button class="btn btn-sm btn-dark" type="submit" name="" value="Найти">Найти</button>
</form>
<a class="btn btn-success btn-lg m-bottom btn-add " href="{% url 'orders_on_vacation_new_add_url'%}" > + Добавить</a>

{% if orders %}
<table>
  <thead class="thead-dark">
  <tr class="tr-header">

    <th scope="col">Дата приказа</th>
    <th scope="col">Номер</th>
    <th scope="col">Ответственный сотрудник</th>


  </tr>
  </thead>

  {%for order in orders%}

<tr id="{{order.id}}" onclick="return location.href = '{% url 'orders_on_vacation_new_create_url' id=order.id%}' ">

    <td id="date">{{order.order_date|date:"d.m.Y"}}</td>
    <td id="number">{{order.order_number}}</td>
    <td id="res_officer">{{order.res_officer}}</td>

</tr>
  {%endfor%}
</table>
<nav  class="paginator" aria-label="Page navigation example">
  <ul class="pagination">
    {%if orders.has_previous%}
        <li class="page-item">
          <a class="page-link" aria-label="previous" href="?page=1">
              <span aria-hidden="true">Первая</span></a>
        </li>
        <li class="page-item">
          <a class="page-link" href='?page={{orders.previous_page_number}}' aria-label="previous">
    <span aria-hidden="true">{{orders.previous_page_number}}</span>
          </a>
        </li>
  {%endif%}

   <li class="page-item active"><a class="page-link" href="">{{ orders.number }}</a></li>

{%if orders.has_next%}
    <li class="page-item">
      <a class="page-link" href='?page={{orders.next_page_number}}' aria-label="Next">{{orders.next_page_number}}</a>
      </li>
  {%endif%}

  <li class="page-item">
  <a class="page-link" href="?page={{ orders.paginator.num_pages }}">Последняя</a>
  </li>
</ul>
</nav>

{%else%}
<h2>Записей нет</h2>
{%endif%}
{%endblock%}
