{%extends "reg_jounals/index.html" %}

{%block title%}Исходящие документы{%endblock%}
{%block header%} Журнал регистрации исходящих документов. Всего: {{count}} {%endblock%}
{%block content%}
<a href="{% url 'doc_outbound_add_url' %}">Добавить</a>
<table>
  <thead class="thead-dark">
  <tr>

    <th scope="col">Дата документа</th>
    <th scope="col">Номер документа</th>
    <th scope="col">Вид</th>
    <th scope="col">Адресат</th>
    <th scope="col">Содержание</th>
    <th scope="col">Ответственный сотрудник</th>
  </tr>
  </thead>

  {%for doc in documents%}
  
  <tr>

    <td>{{doc.doc_date}}</td>
    <td>{{doc.id}}</td>
    <td>{{doc.doc_type}}</td>
    <td>{{doc.doc_dest}}</td>
    <td>{{doc.doc_additionalData}}</td>
    <td>{{doc.doc_res_officer}}</td>
</tr>
  {%endfor%}
</table>

{%endblock%}
