{% extends "reg_jounals/index.html" %}

{%block title%}{{document.doc_type}} № {{document.id}}{% endblock %}
{%block header%}{%block logo%}{{block.super}}{%endblock%}Изменить запись - {{document.doc_type}} № {{document.id}} от {{document.doc_date}}{% endblock %}

{%block content%}

{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<form class="standart-panel standart-form" action="" method="post">
  {% csrf_token %}
  <h5>Номер документа: <span id="next_num">{{next_num}}</span></h5>

  <div class="standart-form-input-group inline">
    <p><span>Вид: </span>{{form.doc_type}}</p>
    <p><span>Дата: </span>{{form.doc_date}}</p>
  </div>

  <div class="standart-form-input-group">
    <p><span>Адресат: </span>{{form.doc_dest}}</p>
  </div>

  
  <div class="standart-form-input-group">
    <p><span>Содержание: </span>{{form.doc_additionalData}}</p>
  </div>
  

  <div class="standart-form-input-group inline">
    <input class="button add" type="submit" value="Сохранить" />
    <a class="button cancel" href="..">Отмена</a>
  </div>

</form>

{%endblock%}
