{% extends "reg_jounals/index.html" %}

{%block title%}{{document.doc_type}} № {{document.id}}{% endblock %}
{%block header%}Изменить запись - {{document.doc_type}} № {{document.id}} от {{document.doc_date}}{% endblock %}

{%block content%}
{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}
<form class="add_form" action="" method="post">
  {% csrf_token %}
  {% for field in form %}
  <p>{{field.label}}{{ field }}</p>
  {% endfor%}

  <input class="btn btn-success" type="submit" value="Сохранить" />
  <a class="btn btn-outline-danger btn-upd" id="sure_btn" onclick="OpenSureDialog()">Удалить запись</a>
  <div id="sure" style="display: none;" class="yousure">
    <p>Вы уверены? <span style="color: red;"><b>ЭТО ДЕЙСТВИЕ НЕОБРАТИМО</b></span></p>
    <a class="btn btn-outline-danger" href="{%url 'doc_outbound_del_url' id=document.id%}">Да</a>

  </div>
  <a class="btn btn-outline-info btn-upd" href="..">Отмена</a>
</form>

{%endblock%}
