{%extends "reg_jounals/index.html" %}

{%block title%}Исходящие документы{%endblock%}
{%block header%} Журнал регистрации исходящих документов. Всего: {{count}} {%endblock%}
{%block content%}
<h2>Пользователь: {{auth}}</h2>
<table>
  <tr>
    <th>Дата документа</th>
    <th>Номер документа</th>
    <th>Вид</th>
    <th>Адресат</th>
    <th>Содержание</th>
    <th>Ответственный сотрудник</th>
  </tr>
  {%for doc in documents%}
  <tr>
    <td>{{doc.doc_date}}</td>
    <td>{{doc.id}}</td>
    <td>{{doc.doc_type}}</td>
    <td>{{doc.doc_dest}}</td>
    <td>{{doc.doc_additionalData}}</td>
    <td>{{doc.doc_res_officer}}</td>
</tr>
  {%endfor%}
</table>

{%endblock%}
