{%extends "reg_jounals/index.html" %}

{%block title%}Реестр № {{rnum}} за {{year}} г.{%endblock%}
{%block header%} <a class="btn btn-dark" href="/sick_regs/"> < назад</a> Реестр № {{rnum}} за {{year}} г. Больничных листов в реестре: {{count}}  {%endblock%}
{%block content%}
<!-- <form action="{% url 'orders_on_personnel' %}">
  <input type="search" name="op_search" placeholder="Поиск по ФИО..">
  <button class="btn btn-sm btn-warning" type="submit" name="" value="Найти">Найти</button>
</form> -->
<style>
.print-allow {
  display: none;
}

  @media print {

    @page {
    	size: A4 landscape
    }

body {
  zoom: 74%;
}


  * {
    font-size: 15pt;
  }

  .print {
    display: none;
  }

  .print-allow {
    display: block;
  }

  .tnumber {
    padding: 0 6px;
  }


  }



</style>

<div id="frame_" class="frame vacantion">
  <iframe id="iframe" src="" width="" height=""></iframe>
  <button type="button" class="btn btn-success" onclick="send_submit()" name="button">Сохранить</button>
  <button type="button" onclick="close_frame()"class="btn btn-outline-danger" name="button">Отмена</button>
</div>

<a class=" btn btn-sm btn-warning print" onclick="javascript:window.print();" style="margin-top: 5px;" href="">Печать реестра</a>
<!-- <a class=" btn btn-sm btn-danger print"  style="margin-top: 5px;" href="">Удалить реестр</a> -->
<a class="btn-add btn btn-success btn-sm print" href="{% url 'sick_reg_addItem_url' id=reg.id %}">+ Добавить б\л в реестр</a>
{% if positions %}
<h3 class="print-allow" style="text-align: center;"> Реестр больничных листов № {{rnum}} за {{year}}г. Листов в реестре: {{count}}</h3>

<table>
  <thead class="thead-dark">
  <tr class="tr-header">

    <th scope="col">Номер б\л</th>
    <th scope="col">ФИО</th>
    <th scope="col">Должность</th>
    <th scope="col">Подразделение</th>
    <th scope="col">Дата начала</th>
    <th scope="col">Дата окончания</th>
    <th scope="col">Примечание</th>
    <th class="print" scope="col"></th>



  </tr>
  </thead>

  {%for pos in positions %}
    <tr  onclick="return location.href = '{% url 'sick_reg_updDoc_url' id=pos.id%}' ">
<!-- <tr id="{{pos.id}}" onclick="open_for_upd({{pos.id}})"> -->

    <td id="number" class="tnumber">{{pos.sd_number}}</td>
    <td id="fio">{{pos.sd_emp}}</td>
    <td id="pos">{{pos.sd_pos}}</td>
    <td id="dep">{{pos.sd_dep}}</td>
    <td id="from">{{pos.sd_dur_from|date:"d.m.Y"}}</td>
    <td id="to">{{pos.sd_dur_to|date:"d.m.Y"}}</td>
    <td id="comm">{{pos.sd_comm}}</td>
    <td class="print"><a class="btn btn-sm btn-danger btn-delete"href="{% url 'sick_reg_delDoc_url' id=pos.id%}">Удалить</a></td>
</tr>
  {%endfor%}

</table>
<a class="btn-add btn btn-success btn-sm print" href="{% url 'sick_reg_addItem_url' id=reg.id %}">+ Добавить б\л в реестр</a>
{%endif%}


{%endblock%}
