{% extends "reg_jounals/index.html" %}



{%block title%}Изменить б\л в реестре {{b_reg}}{% endblock %}
{%block header%}Изменить больничный лист{% endblock %}

{%block content%}
{% if form.errors%}

<div class="alert alert-danger mt-5" role="alert">
{{form.errors}}
</div>
{%endif%}

<form class="add_form sick_list" action="" method="post">
  {% csrf_token %}
  <p>Номер реестра: {{b_reg.sr_number}}</p>
  <p>{{form.sd_number.label}}{{form.sd_number}}</p>
  <p>{{form.sd_emp.label}}{{form.sd_emp}}</p>
  <p>{{form.sd_pos.label}}{{form.sd_pos}}</p>
  <p>{{form.sd_dep.label}}{{form.sd_dep}}</p>
  <p>{{form.sd_dur_from.label}}{{form.sd_dur_from}}</p>
  <p>{{form.sd_dur_to.label}}{{form.sd_dur_to}}</p>
  <p>{{form.sd_comm.label}}{{form.sd_comm}}</p>



<input class="btn btn-success"  type="submit" value="Сохранить" />



  <a class="btn btn-outline-danger" href="/sick_reg/{{b_reg}}/create/">Отмена</a>
</form>

{%endblock%}
