{%extends "reg_jounals/index.html" %}

{%block title%}Реестры больничных листов{%endblock%}
{%block header%} <a class="btn btn-dark" href="../"> < назад</a> Реестры больничных листов {%endblock%}
{%block content%}
<form action="{% url 'sick_regs' %}">
  <input type="search" name="sd_search" placeholder="Поиск по ФИО..">

  <select class="" name="sd_dep_search">
    <option value="">Выберите подразделения для поиска</option>
    {%for dep in deps%}
      <option value="{{dep.id}}">{{dep}}</option>
    {%endfor%}
  </select>

  <button class="btn btn-sm btn-dark" type="submit" name="" value="Найти">Найти</button>
</form>
<a class="btn btn-success btn-lg m-bottom btn-add " href="{% url 'sick_reg_add_url' %}"> + Добавить</a>
{% if regs %}
<table>
  <thead class="thead-dark">
  <tr class="tr-header">

    <th scope="col">Номер реестра</th>
    <th scope="col">Год</th>
    <th scope="col">Ответственный</th>



  </tr>
  </thead>

  {%for reg in regs %}

<tr onclick="return location.href = '{% url 'sick_reg_create_url'  id=reg.id %}'">

    <td>{{reg.sr_number}}</td>
    <td>{{reg.sr_year}}</td>
    <td>{{reg.sr_res_officer}}</td>


</tr>
  {%endfor%}
</table>

<nav  class="paginator" aria-label="Page navigation example">
  <ul class="pagination">
    {%if regs.has_previous%}
        <li class="page-item">
          <a class="page-link" aria-label="previous" href="?page=1">
              <span aria-hidden="true">Первая</span></a>
        </li>
        <li class="page-item">
          <a class="page-link" href='?page={{regs.previous_page_number}}' aria-label="previous">
    <span aria-hidden="true">{{regs.previous_page_number}}</span>
          </a>
        </li>
  {%endif%}

   <li class="page-item active"><a class="page-link" href="">{{ regs.number }}</a></li>

{%if regs.has_next%}
    <li class="page-item">
      <a class="page-link" href='?page={{regs.next_page_number}}' aria-label="Next">{{regs.next_page_number}}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href='?page={{regs.next_page_number|add:1}}' aria-label="Next">{{regs.next_page_number|add:1}}</a>
        </li>
        <li class="page-item">
          <a class="page-link" href='?page={{regs.next_page_number|add:2}}' aria-label="Next">{{regs.next_page_number|add:2}}</a>
          </li>
          <li class="page-item">
            <a class="page-link" href='?page={{regs.next_page_number|add:3}}' aria-label="Next">...</a>
            </li>
  {%endif%}

  <li class="page-item">
  <a class="page-link" href="?page={{ regs.paginator.num_pages }}">Последняя</a>
  </li>
</ul>
</nav>

{%else%}
<h2>Записей нет</h2>
{%endif%}
{%endblock%}
