{%extends "reg_jounals/index.html" %}

{%block title%}Поиск - {{search_query}}{%endblock%}
{%block header%} <a class="btn btn-outline-info" href="/sick_regs/"> < назад</a> Поиск по запросу "{{search_query}}". Найдено: {{sdocs_count}} {%endblock%}
{%block content%}
<table>
  <thead class="thead-dark">
  <tr class="tr-header">

    <th scope="col">Номер реестра</th>
    <th scope="col">Номер б\л</th>
    <th scope="col">ФИО</th>
    <th scope="col">Должность</th>
    <th scope="col">Подразделение</th>
    <th scope="col">Дата начала</th>
    <th scope="col">Дата окончания</th>
    <th scope="col">Примечание</th>
    <th class="print" scope="col"></th>



  </tr>
  </thead>

  {%for pos in sick_docs %}

<tr onclick="return location.href = '{% url 'sick_reg_updDoc_url' id=pos.id%}' ">

    <td>{{pos.sd_reg_number}}</td>
    <td class="tnumber">{{pos.sd_number}}</td>
    <td>{{pos.sd_emp}}</td>
    <td>{{pos.sd_pos}}</td>
    <td>{{pos.sd_dep}}</td>
    <td>{{pos.sd_dur_from|date:"d.m.Y"}}</td>
    <td>{{pos.sd_dur_to|date:"d.m.Y"}}</td>
    <td>{{pos.sd_comm}}</td>
    <td class="print"><a class="btn btn-sm btn-danger btn-delete"href="{% url 'sick_reg_delDoc_url' id=pos.id%}">Удалить</a></td>
</tr>
  {%endfor%}

</table>

{%endblock%}
