



  @media print {


* {
  margin: 0 !important;
    font-size: 30pt !important;
  box-shadow: none !important;
  font-weight: bolder !important;

}

.cell_bb {
  border-bottom: solid black 7px !important;
}

.col_numbers {
  width: 50px !important;
}

.cell_ttime {
  height: 30px;
}

.cell_hours {
  height: 30px;
}

th {
  color: black;
  font-size: 12pt;
}

.cover {
   page-break-after: always;
}

.cover img {
  margin-top: 389px !important;
    width: 100%;
}

.cover .colon {
  display: block;
width: 100%;
position: absolute;
left: 3810px;
}
.cover_footer h3 {
  margin-bottom: 100px !important;
}

.cover_number {
  position: absolute;
  width: 437px;
  /* float: right; */
  /* position: fixed; */
  left: 2709px;
  /* position: static; */
  /* margin-bottom: 221px; */
}

.cover_period {
position: absolute;
width: 518px;
float: right;
/* position: fixed; */
left: 2166px;
/* position: static; */
/* margin-bottom: 221px; */
px; */
}

table {
  float: left;
margin-bottom: 50px !important;
}



/* .fio {
width: 200px;
} */

.print-allow {
  display: block !important;
}

.print-allow-tc {
  display: table-cell !important;
}



.t_print_emp {
  width: 338px;
}



  @page {
  	size: A3 landscape;

}


body {
    zoom: 45%;
}




  .print {
    display: none !important;
  }



  .tnumber {
    padding: 0 6px;
  }

  .container {
    max-width: 100% !important;
  }


  }
