{% extends "TURV/tabels.html" %}

{%block title%}Новый табель{% endblock %}

{%block header%}
<div class="header-back-button-container">

  {% block logo%}{{block.super}}{% endblock%}

</div>




<div class="header-main-text">
  <h4>Новый табель</h4>
</div>

{%block username%}{{block.super}}{%endblock%}


{%endblock%}
{%block body%}

<div class="container ">

<form class="standart-form standart-panel" action="" method="post">
  {%csrf_token%}

  {% if form.errors %}

  <p style="color: red;">{{error_tabel}}</p>  

    {%endif%}
  

  <div class="standart-form-input-group inline">
    
    <p><span>Подразделение: </span><select onchange="ReSelectDep()" name="t_dep" id="t_dep">
      {% for dep in deps %}
      <option value="{{dep.name}}">{{dep.name}}</option>
    {%endfor%}
    </select></p>
    <p><span>{{form.type.label}}: </span>{{form.type}}</p>
  
  </div>

  
  <div class="standart-form-input-group inline">


   <p style="display: none;" id="day"><span>День: </span>{{form.day}}</p>


    <p><span>Месяц: </span>
    <select class="" onchange="SetMonth()" id="t_month" name="t_month">
      <option value="01">Январь</option>
      <option value="02">Февраль</option>
      <option value="03">Март</option>
      <option value="04">Апрель</option>
      <option value="05">Май</option>
      <option value="06">Июнь</option>
      <option value="07">Июль</option>
      <option value="08">Август</option>
      <option value="09">Сентябрь</option>
      <option value="10">Октябрь</option>
      <option value="11">Ноябрь</option>
      <option value="12">Декабрь</option>
    </select></p>


    <p><span>Год: </span>{{form.year}}</p>
  </div>


<div class="hide">
{{form.department}}
{{form.month}}

<span id="label_{{field.name}}">{{field.name}}</span>{{field}}
</div>

<div class="standart-form-input-group ">
<p><span>{{form.comm.label}}:</span>{{form.comm}}</p>
</div>

<div class="standart-form-input-group inline">
  <input class="button add" type="submit"  value="Создать" />
  <a class="button cancel" id="nt-cancel" href="..">Отмена</a>
</div>
</form>
</div>

<script type="text/javascript">
$(document).ready(function() {

$('#nt-cancel').attr('href', document.referrer)
$("#id_day").attr('placeholder','День')
$("#id_year").attr('placeholder','Год')
last = document.referrer.split('/')[5]

if ($("#id_type option:selected").val() == '4' || $("#id_type option:selected").val() == '5'){
  if ($("#id_department option:selected").val() == "3" || $("#id_department option:selected").val() == "2") {

    $('#day').css('display','')
}


}
else {
$('#day').css('display','none')
}

switch (last) {
    case '4':
      $("#id_type option").remove()
      $("#id_type").append('<option value="4">Выходные</option>')
      $('#day').css('display','')
    break;

    case '5':
      $("#id_type option").remove()
      $("#id_type").append('<option value="5">Сверхурочные</option>')
      $('#day').css('display','')
    break;

    case '8':
      $("#id_type option").remove()
      $("#id_type").append('<option value="8">Ненормированность</option>')
      // $('#day').css('display','')
    break;

}

if (last == "vac") {

  // $("#id_type option").filter(function() {return this.value == 4;}).prop('selected', true);


}


})


$("#id_type").change(function() {
    if ($("#id_type option:selected").val() == '4' || $("#id_type option:selected").val() == '5'){
      if ($("#id_department option:selected").val() == "3" || $("#id_department option:selected").val() == "2") {

        $('#day').css('display','')
    }


}
else {
  $('#day').css('display','none')
}
})
</script>

{%endblock%}
