{% extends "TURV/index.html" %}

{%block title%}Новый табель{% endblock %}
{%block header%}Новый табель учета рабочего времени{% endblock %}

{%block body%}

<div class="container ">

<form class="add_form new_tabel" action="" method="post">
  {%csrf_token%}

  {% if form.errors %}
  {% for error in form.errors%}
    {{error}}
    {%endfor%}
    {%endif%}

  <label for="t_dep">Подразделение</label>
  <select onchange="ReSelectDep()" name="t_dep" id="t_dep">
    {% for dep in deps %}
    <option value="{{dep.name}}">{{dep.name}}</option>
  {%endfor%}
  </select>
<label for="t_month">Месяц</label>




<select class="" onchange="SetMonth()" id="t_month" name="t_month">
  <option value="01">Январь</option>
  <option value="02">Февраль</option>
  <option value="03">Март</option>
  <option value="04">Апрель</option>
  <option value="05">Май</option>
  <option value="06">Июнь</option>
  <option value="07">Июль</option>
  <option value="08">Август</option>
  <option value="09">Сентябрь</option>
  <option value="10">Октябрь</option>
  <option value="11">Ноябрь</option>
  <option value="12">Декабрь</option>
</select>

{{form.year.label}} {{form.year}}

<div class="hide">
{{form.department}}
{{form.month}}

<span id="label_{{field.name}}">{{field.name}}</span>{{field}}
</div>


  <input class="btn btn-success" type="submit"  value="Создать" />
  <a class="btn btn-outline-danger" href="..">Отмена</a>
</form>
</div>
{%endblock%}
