{% extends 'TURV/index.html'%}
{%load static%}
{%block title%}Обновление нормы{% endblock %}
{%block scripts%}<script src="{% static 'TURV\js\unload.js' %}" charset="utf-8"></script>{%endblock%}
{%block header%} <a href="/turv/" class="btn btn-dark">< Назад</a> Нормы времени{%endblock%}

{% block body %}
<div class="container">
  <div class="table_top_buttons">
    <button type="button" class="btn btn-success btn-add btn-sm" id='add_overtime' name="button"> + Добавить </button>
    <button type="button" class="btn btn-success btn-sm" id='upd_overtime' name="button"> + Обновить </button>
  </div>
<table>
  <thead>
    <tr>
      <th>Период</th>
      <th>Значение</th>
      <th>Пол</th>
    </tr>
  </thead>

  <tbody>
    {% for norm in norms %}
    <tr>
      <td>{{norm.year}}</td>
      <td>{{norm.value}}</td>
      <td>{{norm.sex}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{%endblock%}
