{% extends 'TURV/index.html'%}

{%block title%}Должности{% endblock %}

{%block header%} <div class="tabel-header-info refs"> <a class="btn btn-dark" href=".."> < Назад </a> | Должности</div>{%endblock%}

{% block body %}

<div class="container positions">
  <a class="btn btn-success btn-add"  href="{% url 'pos_new'%}"  >+ Новая должность</a>


{%if positions%}

<table>
  <thead class="thead-dark">
  <tr class="tr-header">



    <th scope="col">Должность</th>





  </tr >
  </thead>

  {%for pos in positions %}

  <tr  onclick="return location.href = '{% url 'pos_upd' id=pos.id%}' " >


    <td>{{pos}}</td>



  </tr>
  {%endfor%}
</table>
<nav  class="paginator" aria-label="Page navigation example">
  <ul class="pagination">
    {%if positions.has_previous%}
        <li class="page-item">
          <a class="page-link" aria-label="previous" href="?page=1">
              <span aria-hidden="true">Первая</span></a>
        </li>
        <li class="page-item">
          <a class="page-link" href='?page={{positions.previous_page_number}}' aria-label="previous">
    <span aria-hidden="true">{{positions.previous_page_number}}</span>
          </a>
        </li>
  {%endif%}

   <li class="page-item active"><a class="page-link" href="">{{ positions.number }}</a></li>

{%if positions.has_next%}
    <li class="page-item">
      <a class="page-link" href='?page={{positions.next_page_number}}' aria-label="Next">{{positions.next_page_number}}</a>
      </li>
  {%endif%}

  <li class="page-item">
  <a class="page-link" href="?page={{ positions.paginator.num_pages }}">Последняя</a>
  </li>
</ul>
</nav>
{%else%}
<h2>Должности не найдены</h2>
{%endif%}
</div>
{%endblock%}
