{% extends 'TURV/index.html'%}

{%block title%}Табели{% endblock %}

{%block header%}
    {% if granted == 1 or user.is_superuser%}<a href="/" class="btn btn-dark"> < Назад </a>{%endif%}
    Табели учета рабочего времени. Всего: {{count}}.
    <ul class="menu">
      <li>Справочники <span class='angle-down'>v</span>
      <ul class="sprav">
        <li><a href="{% url 'emp_list'%}"> > Сотрудники</a></li>
        {% if granted == 1%}
        <li><a href="{% url 'pos_list'%}"> > Должности</a></li>
        {%endif%}
      </ul>
      </li>
      <li>Информация <span class='angle-down'>v</span>
      <ul class="info">
        <li><a target="_blank" href="https://docs.google.com/document/d/1Z439AZgEkRSZErC1wrBpQE9ajGD-OPZIZOkNI08mPSg/edit?usp=sharing"> > Инструкция пользователя</a></li>
        {% if user.is_superuser%}
        <li><a target="_blank" href="https://docs.google.com/document/d/1MWZ-9vxpc1lO9-VJu_Idzoy7S3Vg8mqFRPYfTSCwzxA/edit?usp=sharing"> > Инструкция администратора</a></li>
        {%endif%}

      </ul>
      </li>
{%if request.user.is_superuser %}
      <li>Сервис <span class='angle-down'>v</span>
      <ul class="service">
           <li><a  href="{% url 'unload'%}"> > Выгрузить для 1С</a></li>
           <li><a  href="{% url 'overtime_url'%}"> > Обновить годовую норму времени сотрудников</a></li>



      </ul>
      </li>
  {%endif%}
      <li>Вид <span class='angle-down'>v</span>
      <ul class="view">
      <li> <a  href="?this_month=1"> > Показать только за текущий месяц</a></li>
      {% if granted == 1%}
      <li><a  href="?chk_this_month=1"> > Показать проверенные за текущий месяц</a></li>
      {%endif%}
      </ul>
      </li>
    </ul>





{%endblock%}

{% block body %}
<script type="text/javascript">
function Supchecked() {


  if ($('#supcheck').prop('checked') == true) {
    $('#supcheck').val('1')
  }
  else {
    $('#supcheck').val('0')
  }
}
</script>

<form action="" class="f_search">
  <p>ПОИСК</p>
  <label for="search_month">Месяц:</label>
  <select class="" name="search_month">
    <option value="">Весь год</option>
    <option value="01">Январь</option>
    <option value="02">Февраль</option>
    <option value="03">Март</option>
    <option value="04">Апрель</option>
    <option value="05">Май</option>
    <option value="06">Июнь</option>
    <option value="07">Июль</option>
    <option value="08">Август</option>
    <option value="09">Сентябрь</option>
    <option value="10">Октябрь</option>
    <option value="11">Ноябрь</option>
    <option value="12">Декабрь</option>
  </select>

<input type="text" placeholder="год..." name="search_year" value="">
<label for="t_tab_dep_search">Подразделение: </label>
  <select class="" name="t_tab_dep_search">
    <option value="">---</option>
    {% for dep in deps%}
      <option value="{{dep.id}}">{{dep}}</option>
      {% endfor%}
  </select>

  {% if granted == 1%}
  <select class=""  name="tab_user">
    <option value="">Поиск по табельщику</option>
      {%for u in tab_users %}
      <option value="{{u.first_name}}">{{u.first_name}}</option>
      {%endfor%}
  </select>
{%endif%}
<input type="submit" name="" class="btn btn-dark" value="Найти">

<a class="btn btn-outline-danger" href="/turv">Сбросить поиск</a>
</form>

<div class="container main">
  <a class="btn btn-success btn-add"  href="{% url 'new_tabel_url' %}"  >+ Новый табель</a>


{%if tabels%}

<table>
  <thead class="thead-dark">
  <tr class="tr-header">


    <th scope="col">Период составления</th>
    <th scope="col">Подразделение</th>
    {% if granted == 1 or user.is_superuser%}
    <th scope="col">Табельщик</th>
    {%endif%}
    <th scope="col">Проверен СУП</th>
      {% if granted == 1 or user.is_superuser%}
      <th scope="col"> Загружен в 1С </th>
      {%endif%}






  </tr >
  </thead>

  {%for tabel in tabels %}


  {% if tabel.del_check %}
<tr style='background: red !important;' onclick="return window.open('{% url 'tabel_create_url' id=tabel.id%}')"</tr>
  {%else%}
<tr  onclick="return window.open('{% url 'tabel_create_url' id=tabel.id%}')" >
  {%endif%}

    <td><span class="field_month">{{tabel.month}}</span> {{tabel.year}}  </td>
    <td>{{tabel.department}}</td>
    {% if granted == 1 or user.is_superuser%}
    <td>{{tabel.res_officer}}</td>
    {%endif%}
    {%if tabel.sup_check%}
      <td>✅</td>
    {%else%}
      <td>❌</td>
    {%endif%}
    {% if granted == 1 or user.is_superuser%}
      {%if tabel.unloaded%}
        <td>✅</td>
      {%else%}
        <td>❌</td>
      {%endif%}
    {%endif%}




</tr>
  {%endfor%}
</table>
<nav  class="paginator" aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
<span aria-hidden="true">&laquo;</span>
      </a>
    </li>
{% for p in tabels.paginator.page_range %}
  {% if tabels.number == p%}
   <li class="page-item active"><a class="page-link" href="?page={{p}}">{{ p }}</a></li>
   {%else%}
        <li class="page-item"><a class="page-link" href="?page={{p}}">{{ p }}</a></li>
    {%endif%}
  {% endfor %}

{%if tabels.has_next%}
    <li class="page-item">
      <a class="page-link" href='?page={{letters.next_page_number}}' aria-label="Next">
<span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  {%else%}
  <li class="page-item disabled">
    <a class="page-link" href='#' aria-disabled='true' aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
  {%endif%}
  </ul>
</nav>

{%else%}
<h2>Табели не найдены</h2>
{%endif%}
</div>
{%endblock%}
