{% extends 'TURV/index.html'%}

{%block title%}Табели{% endblock %}

{%block header%} {% if granted == 1 or user.is_superuser%}<a href="/" class="btn btn-dark"> < Назад </a>{%endif%} Табели учета рабочего времени. Всего: {{count}}. <a class="btn btn-outline-dark" href="{% url 'emp_list'%}">Справочник: СОТРУДНИКИ</a> <a class="btn btn-outline-dark" href="{% url 'pos_list'%}">Справочник: ДОЛЖНОСТИ</a> <a target="_blank" href="https://docs.google.com/document/d/1Z439AZgEkRSZErC1wrBpQE9ajGD-OPZIZOkNI08mPSg/edit?usp=sharing">Инструкция пользователя</a> {%if request.user.is_superuser %}<a class="btn btn-outline-light for-ones" href="{% url 'unload'%}">Выгрузить для 1С</a>{%endif%}{%endblock%}

{% block body %}

<form action="" class="f_search">
  <p>ПОИСК</p>
  <label for="search_month">Месяц:</label>
  <select class="" name="search_month">
    <option value="all">Весь год</option>
    <option value="01">Январь</option>
    <option value="02">Февраль</option>
    <option value="03">Март</option>
    <option value="04">Апрель</option>
    <option value="05">Май</option>
    <option value="06">Июнь</option>
    <option value="07">Июль</option>
    <option value="08">Август</option>
    <option value="09">Сентябрь</option>
    <option value="10">Октябрь</option>
    <option value="11">Ноябрь</option>
    <option value="12">Декабрь</option>
  </select>

<input type="text" placeholder="год..." name="search_year" value="">
<label for="t_tab_dep_search">Подразделение: </label>
  <select class="" name="t_tab_dep_search">
    <option value="none">---</option>
    {% for dep in deps%}
      <option value="{{dep.id}}">{{dep}}</option>
      {% endfor%}
  </select>
<input type="submit" name="" class="btn btn-dark" value="Найти">
</form>

<div class="container">
  <a class="btn btn-success btn-add"  href="{% url 'new_tabel_url' %}"  >+ Новый табель</a>


{%if tabels%}

<table>
  <thead class="thead-dark">
  <tr class="tr-header">


    <th scope="col">Период составления</th>
    <th scope="col">Подразделение</th>
    <th scope="col">Табельщик</th>
    <th scope="col">Проверен СУП</th>






  </tr >
  </thead>

  {%for tabel in tabels %}


  {% if tabel.del_check %}
<tr style='background: red !important;' onclick="return window.open('{% url 'tabel_create_url' id=tabel.id%}')"</tr>
  {%else%}
<tr  onclick="return window.open('{% url 'tabel_create_url' id=tabel.id%}')" >
  {%endif%}

    <td><span class="field_month">{{tabel.month}}</span> {{tabel.year}}  </td>
    <td>{{tabel.department}}</td>
    <td>{{tabel.res_officer}}</td>
    {%if tabel.sup_check%}
      <td>✅</td>
    {%else%}
      <td>❌</td>
    {%endif%}




</tr>
  {%endfor%}
</table>
{%else%}
<h2>Табели не найдены</h2>
{%endif%}
</div>
{%endblock%}
