{% extends 'TURV/index.html'%}
{%load static%}
{%block title%}Выгрузить{% endblock %}
{%block scripts%}<script src="{% static 'TURV\js\unload.js' %}" charset="utf-8"></script>{%endblock%}
{%block header%}Выгрузить{%endblock%}

{% block body %}

<form id="unload_form" action="{% url 'unload'%}">
<label for="u_month">Месяц</label>
  <select class=""  id="u_month" name="uload_month">
    <option value="01">Январь</option>
    <option value="02">Февраль</option>
    <option value="03">Март</option>
    <option value="04">Апрель</option>
    <option value="05">Май</option>
    <option value="06">Июнь</option>
    <option value="07">Июль</option>
    <option value="08">Август</option>
    <option value="09">Сентябрь</option>
    <option value="10">Октябрь</option>
    <option value="11">Ноябрь</option>
    <option value="12">Декабрь</option>
  </select>

 <label for="uload_year">Год</label>
<input type="text" name="uload_year" value="" required>


<label for="uload_dep">Подразделение для выгрузки</label>
<select class="" id="u_dep" name="uload_dep" multiple >
  <option value="">Все подразделения</option>
  {% for dep in deps%}
  <option value="{{dep.id}}">{{dep.name}}</option>
  {%endfor%}
</select>
<input type="text" id="udeps_hide" name="udeps" style="display:none" value="">

<input type="submit" name="" class="btn btn-success btn-add" onclick="write_deps()" value="Выгрузить">
<p><input type="checkbox" name="nounload_only" value="1" checked> <label for="nounload_only"> только невыгруженные</label></p>
</form>

{%endblock%}
