{% extends 'TURV/index.html'%}
{%load static%}
{%block title%}Добавить сотрудника{% endblock %}

{%block scripts%}<script src="{% static 'TURV\js\EmployerAdd.js' %}" charset="utf-8"></script>{%endblock%}

{%block header%}Редактировать информацию о сотруднике - {{name}}{%endblock%}

{% block body %}

<div class="container ">

<form class="new_emp" action="" method="post">
{% csrf_token %}
<p class="fio">{{emp.fullname.label}}: {{emp.fullname}}</p>
<p class="sex">{{emp.sex.label}}: {{emp.sex}}</p>
<p>{{emp.position.label}}: {{emp.position}}</p>
<p>{{emp.department.label}}:
<select id="e_deps" onchange="ReSelectDep();" name="e_deps">
  {% for dep in deps %}
  <option value="{{dep.id}}">{{dep.name}}</option>
  {% endfor %}
</select></p>



 {{emp.department}}
<p>{{emp.level.label}}: {{emp.level}}</p>
<p>{{emp.positionOfPayment.label}}: {{emp.positionOfPayment}}</p>
<p>{{emp.shift_personnel.label}}: {{emp.shift_personnel}}</p>
<p> {{emp.stand_worktime.label}}: {{emp.stand_worktime}}</p>

<p class="shift"></p>
<p class="wtime"></p>
<p> {{emp.fired.label}}: {{emp.fired}}</p>
<div class="buttons"><input type="submit" name="" class="btn btn-success" value="Сохранить">


<a href=".." id="ue_cancel" class="btn btn-outline-dark">Отмена</a></div>



</form>
</div>
{%endblock%}
