{% extends 'shift_shed/index.html'%}
{%block title%}{{shed_info.dep}} - {{shed_info.year}} г.{%endblock%}
{%block header%} <a class="btn-outline-danger" href="/shift_shed">< Назад</a> График № {{id}} - {{shed_info.dep}} - {{shed_info.year}} г. {%endblock%}
{%block body%}
<div class="container">

{% for key, value in months.items %}
<div class="shed-month">
<a href="{% url 'ss-edit' year=shed_info.year month=key shed=id %}">{{value}}</a>
  <table class="shift-table">
    <thead>
      <tr>
        <th>Сотрудник</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>19</th>
        <th>20</th>
        <th>21</th>
        <th>22</th>
        <th>23</th>
        <th>24</th>
        <th>25</th>
        <th>26</th>
        <th>27</th>
        <th>28</th>
        <th>29</th>
        <th>30</th>
        <th>31</th>
        <th>Факт</th>
        <th>Праздники</th>
        <th>Норма</th>
        <th>Отклонение(+,-)</th>
      </tr>
    </thead>
    <tbody>

      {% for s in shedule %}


      {% if s.month == key%}
      <tr id="{{s.month_s.emp.id}}">
        <td>{{s.employer.fullname}}{{s.employer.position.name|truncatechars:15}}</td>

        {% for day in s.days %}
          {% for k,v in day.items%}
            {%if v != None%}
              <td id=day>{{v}}</td>
            {%else%}
              <td id=day>X</td>
            {%endif%}


          {%endfor%}


        {%endfor%}
        <td>{{s.fact}}</td>
        <td>{{s.celeb}}</td>
        <td>{{s.norma}}</td>
        <td>{{s.deviation}}</td>

      </tr>
      {%endif%}
      {%endfor%}
    </tbody>
  </table>
</div>
  {%endfor%}
  </div>
{%endblock%}
