{% extends 'shift_shed/index.html'%}
{%block header%}График №{%endblock%}
{%block body%}
<div class="container">
{% for key, value in months.items %}
<h3>{{value}}</h3>
  <table>
    <thead>
      <tr>
        <th>Сотрудник</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>14</th>
        <th>15</th>
        <th>16</th>
        <th>17</th>
        <th>18</th>
        <th>19</th>
        <th>20</th>
        <th>21</th>
        <th>22</th>
        <th>23</th>
        <th>24</th>
        <th>25</th>
        <th>26</th>
        <th>27</th>
        <th>28</th>
        <th>29</th>
        <th>30</th>
        <th>31</th>
      </tr>
    </thead>
    <tbody>

      {% for s in shedule %}


      {% if s.month == key%}
      <tr id="{{s.month_s.emp.id}}">
        <td>{{s.employer.fullname}}{{s.employer.position.name|truncatechars:15}}</td>

        {% for day in s.days %}
          {% for k,v in day.items%}
            {%if v != None%}
              <td id=day>{{v}}</td>
            {%else%}
              <td id=day>X</td>
            {%endif%}


          {%endfor%}


        {%endfor%}

      </tr>
      {%endif%}
      {%endfor%}
    </tbody>
  </table>
  {%endfor%}
  </div>
{%endblock%}
