{% extends 'shift_shed/index.html'%}
{%block button%}{% if user.is_superuser %} <a class="close" href="/">К журналам</a> {%else%} <a href="/turv">К табелям</a> {%endif%}{%endblock%}
{%block header%} Графики сменности{%endblock%}
{%block body%}
  <div class="container short">

    <a class="button btn-add" href="{% url 'ss-create'%}">создать график</a>

    <table>
      <thead>
        <tr>
          <th>Код</th>
          <th>Год</th>
          <th>Подразделение</th>
          <th>Комментарий</th>
          <th>Проверен</th>
        </tr>
      </thead>
      <tbody>
        {% for s in ss %}
          <tr onclick="return window.open('/shift_shed/shedule/{{s.id}}')">
            <td>{{s.id}}</td>
            <td>{{s.year}}</td>
            <td>{{s.dep.name}}</td>
            <td>{{s.comment}}</td>
            {% if s.checked %}
            <td>✅</td>
          {%else%}
            <td>❌</td>
          {%endif%}
          </tr>
        {%endfor%}
      </tbody>
    </table>

  </div>

 {%endblock%}
