* {
  font-family: 'Roboto', sans-serif;
  color: white;
}


header h1{
  color: white;

}

header {
  background: #492b7c

}

body {
background: lightgray;
}

.container {
width: 30%;
}

.container h1 {
  text-align: center;
}

.button {

}

#central-panel {
background-image: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
}

#central-panel form {

}

.lform-input {
  color: black;
}

.m-auto {
  margin: 0 auto;
}
