* {
  font-family: 'Roboto', sans-serif;
  color: white;
}


header h1{
  color: white;

}

header {
  background: #492b7c

}

body {
background: #301551;
}

.container {
width: 30%;
}

.container h1 {
  text-align: center;
}

.button {

}

.m-auto {
  margin: 0 auto;
}
