* {
  font-family: 'Roboto', sans-serif;
}

input[type=text], input[type=number], input[type=date], input[type=search], textarea, select {
  background: #f9f9f9;
  border-radius: 11px;
  border: 3px solid #977390;
}



input[type=text]:focus, input[type=number]:focus, input[type=date]:focus,input[type=search]:focus,textarea:focus,select:focus {

outline: none;

box-shadow: 0px 0px 4px 1px #977390;

transition: 0.3s;
}


body {

  background-color: #efe5ff;
}

html {

}

header {

}


.navbar-light .navbar-brand {
    color: rgb(0 0 0) !important;
}

.sub-navbar {
  width: 85%;
  margin: auto;
  background: #d1b4ff;
  padding: 6px;
  border-radius: 9px;
}

.date-calc-container {

position: fixed;

background: white;

height: 205px;

width: 702px;

left: 30%;

right: 30%;
display: none;

top: 222px;

border: 5px solid #d1b4ff;
}

.date-calc-nav {

display: block;


padding: 12px;
}


.date-calc-div {

background: lightgray;


height: 109px;

padding: 11px;

}

/* #id_days_count2 {
  width: 100%;
float: left;
text-align: center;
font-size: 20pt;
} */

.add_form {
  display: grid;
  grid-template-rows: repeat(5, 42px);
  grid-template-columns: repeat(1, 100%);
  grid-gap: 14px;
  /* padding: 9px; */
  /* width: 50%; */
  margin: 0 auto;
  /* background: white; */
  /* border: 6px solid #977390; */
  /* border-radius: 16px; */
}

.f_search {
  margin-top: 10px;
}

.personnel {
  grid-template-rows: auto !important;
  grid-gap: 1px;
}

#id_oom_content {
  height: 276px;
}


.buttons {
  /* margin-top: 149px; */
}

.buttons .btn {
  margin: 10px 0;
}

.for-ones {
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(213,204,0,1) 8%, rgba(255,245,0,1) 13%, rgba(244,235,0,1) 90%, rgba(122,118,0,1) 94%, rgba(0,0,0,1) 100%) !important;
}

.sick_list {
  grid-template-rows: none;
  grid-gap: none;
}

.add_sk_item {
  border: solid 1px #785589;
    padding: 15px;
    box-shadow: 0px 0px 9px 1px #785589;
}

.vac_upd {

grid-template-rows: none;

width: 70%;
}

.add_list {
  display: grid;
  grid-template-columns: repeat(6, 100px)
}

.add_form input {width: 100%;}

.add_form select {width: 100%;}

.add_form a {width: 100%;}

.add_form textarea {width: 100%;height: 149px;}


.container_grid {

/* float: right; */

display: grid;

grid-template-columns: repeat(1, 100%) !important;

grid-template-rows: repeat(13, 45px);

grid-gap: 5px;

margin: 0 auto;

width: 50%;
}

.container_grid  a img {
  height: 100%;
  /* position: relative; */
  /* left: -99%; */
  /* margin: 0 auto; */
  float: left;
}

.recents {

float: left;

display: none;

width: 400px;
}

.recent {
  width: 400px;
  /* position: absolute; */
  left: 15px;
  border: 4px solid #977390;
  top: 92px;
  float: left;
  overflow-x: hidden !important;
  /* border: 1px solid; */
  height: 377px;
  border-radius: 6px;
  background: white;
  /* box-shadow: 0px 0px 9px -3px #977390; */
  overflow: scroll;
  padding: 16px;
  margin-right: 0;
  scroll-snap-type: none;
}

.recent p, .recent_my p {
  margin-bottom: 3px;
}

.recent h3, .recent_my h3 {
  border-bottom: 1px solid black;
}


.recent_my {

background: white;

padding: 16px;

/* position: absolute; */

height: 329px;

bottom: 18px;

margin-right: 0;

float: left;

left: 15px;

margin-top: 26px;

width: 400px;

/* left: 0; */

border: 4px solid #977390;

overflow-y: scroll;

border-radius: 6px;
}

.container {
  margin-top: 10px;
}





.d-block {
  display: block;
}

.w-50 {
  width: 50%;
}

.button {

background: #ad6a3f;

padding: 11px;

text-decoration: none !important;

text-transform: uppercase;

color: black;

display: block;

width: 100%;

text-align: center;


box-shadow: 0px 1px 3px 1px black;
}

.btn-add {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.btn-del {
  margin-bottom: 5px;
    width: 100%;
}

.btn-upd {
  width: 94%
}

#button_turv {

background: #0c81ff !important;

transition: 0.3s !important;
}

#button_ident {

background: #d91e40 !important;

border: none;
}

a#button_ident {}

.button_turv:hover {

box-shadow: 0px 0px 8px 2px blue;

transition: 0.3s;
}


.main_button{

background: #ffffff !important;

color: black !important;

font-size: 17pt !important;

border-color: none !important;

border: none !important;

box-shadow: inset 0px 0px 5px 0px #977390 !important;
}

.old_vac {
  font-size: 15pt !important;
}

.main_button:hover {


    border-color: #785589 !important;
    box-shadow: 0 0 4px 2px #785589 !important;
    transition: 0.2s !important;
}

.btn-info:focus {
  background-color: #eceb4a !important;
  color: #000 !important;
  border-color: !important;
  border: none !important;
  box-shadow: 0 0 6px 3px #2d3261 !important;
  transition: 0.2s !important;
}

.navbar {

/* color: white; */

/* background: #977390; */

/* box-shadow: 0 3px 10px -2px black; */

/* background-image: url(/static/img/background.jpg);
    background-position-y: center; */

width: 87%;

margin: 10px auto;

border-radius: 17px;

border: 2px solid #977390;

background: white;

box-shadow: 0px 0px 11px -2px black;
}

.button:hover {
  box-shadow: 0px 0px 3px 4px #fe8a27;
  background: #774e3c;
  transition: 0.3s;
  color: white;}

  table {
    border: solid 2px #785589;
    background: white;
    /* box-shadow: 0px 3px 6px 1px black; */
    border-collapse: collapse;
    margin: 18px auto;
    /* border: none; */
    float: left;
    width: 100%;
  }

  table th {
    text-align: center;
  }

  table .tr-header
  {
    background: #977390 !important;

  }

  table #selected_rec:hover {
    background: #785589 !important;
  }


  table tr:nth-child(even) {
    background: #ead9e7;
  }

  table tbody tr:hover {
    color: #a600f7;
    /* color: white; */
    text-decoration: underline;
    /* font-weight: bold; */
  }

  table tr:focus  {
      background-color: #eceb4a !important;
  }



  table tr th, td{
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    cursor: pointer;
    text-align: center;
  }

  table tr th:last-child, td:last-child {
    border-right: none;

  }

  table tbody tr th:last-child {
    border-bottom: none;
  }

  table tr:last-child {
    border-bottom: none;
  }

  .paginator {
    width: 100%;
    float: left;
  }

  .page-item.active .page-link {
    background: #785589 !important;
    border-color: black !important;
  }

  .page-link:focus {
    box-shadow: 0 0 0 0.2rem rgb(255 166 238) !important;
  }

.frame {
  display: none;
  position: fixed;
  position: fixed;
  top: 18vh;
  padding: 8px;
  left: 35vw;
  background: white;
  right: 40vw;
  height: 579px;
  width: 550px;
  border: 6px solid #977390;
  border-radius: 16px;
  opacity: 0;
  transition: 0.3s;
}

.idents {
height: 354px;
}

.iidents {
  height: 85% !important;
}

.vacantion {

height: 736px;

top: 15vh;
}

.frame iframe {

width: 100%;

height: 90%;

border: none;
}

@media (max-width: 1088px) {
    .container {
      max-width: none !important;
    }

  }

@media (max-width: 576px) {
 .container {
   max-width: none !important;
 }

}
