* {
  font-family: 'Roboto', sans-serif;
}

body {
  background: #eaeaea !important;
}

html {

}

header {

}

.add_form {

}

.add_form input {

}

.container_grid {
width: 50%;
padding: 0 25px;
margin: auto;
display: grid;
grid-template-columns: repeat(3, 150px) !important;
grid-template-rows: repeat(3, 100px);
grid-gap: 27px;
}

.container {
  margin-top: 10px;
}



.d-block {
  display: block;
}

.w-50 {
  width: 50%;
}

.button {
background: #ad6a3f;
padding: 11px;
text-decoration: none !important;
text-transform: uppercase;
color: black;
display: block;
width: 100%;
text-align: center;

box-shadow: 0px 1px 3px 1px black;
}

.btn-info {
  background: #2d3261 !important;
}

.navbar {
  background-color:  #785589 !important;
  color: white;
}

.button:hover {
  box-shadow: 0px 0px 3px 4px #fe8a27;
  background: #774e3c;
  transition: 0.3s;
  color: white;}

  table {
    border: solid 2px gray;
    background: white;
    box-shadow: 0 0 10px 1px black;
    margin-top: 10px;
  }

  table th {
    text-align: center;
  }

  table .tr-header:hover
  {
    background: white;
  }
  table tr:hover {
    background: cornflowerblue;
  }



  table tr th, td{
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    cursor: pointer;
  }

  table tr th:last-child, td:last-child {
    border-right: none;

  }

  table tbody tr th:last-child {
    border-bottom: none;
  }

  table tr:last-child {
    border-bottom: none;
  }
