* {
  font-family: 'Roboto', sans-serif;
}

html {
  background: lightyellow;
}

header {

}

.container {
width: 65%;
margin: auto;
display: block;
}

.d-block {
  display: block;
}

.w-50 {
  width: 50%;
}

.button {
background: #ad6a3f;
padding: 11px;
text-decoration: none !important;
text-transform: uppercase;
color: black;
display: block;
width: 100%;
text-align: center;
margin: 11px;
box-shadow: 0px 1px 3px 1px black;
}

.button:hover {
  box-shadow: 0px 0px 3px 4px #fe8a27;
  background: #774e3c;
  transition: 0.3s;
  color: white;}
