{% extends 'VacShed/index.html'%}
{%load static%}
{%block title%}Добавить позицию в график{%endblock%}
{%block script%}{%endblock%}
{%block header%}  <div class="header-main"><button type="button" class="button" name="button">Назад</button><h1>Добавить позицию</h1></div>{%endblock%}
{% block body %}
<div class="container">
  <form class="" action="index.html" method="post">


  <label for="vac_emp">Сотрудник: </label>
  <select class="" name="vac_emp">
    {%for e in emps%}
      <option value="{{e.id}}">{{e.fullname}}</option>
    {%endfor%}


  </select>
  <div class=".vac-form-periods">
    <div class="vac-period">
      <label for="per-date-from">Отпуск с: </label>
      <input type="date" name="per-date-from" value="">

      <label for="per-date-to">по: </label>
      <input type="date" name="per-date-to" value="">
    </div>
    <button type="button" name="button">+ Добавить период</button>
  </div>

  </form>
  </div>

{%endblock%}
