* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

input[type=text], input[type=number], input[type=date], select {
  background: #f9f9f9;
  border-radius: 11px;
  border: 3px solid #5a9dff;
}



input[type=text]:focus, input[type=number]:focus, select:focus {

outline: none;

box-shadow: 0px 0px 4px 1px #0d6efd;

transition: 0.3s;
}

body {
    background: aliceblue;
}

header {
    /* margin: 1%; */
    height: 25px;
    width: 92%;
    margin FONT-WEIGHT: 100;
    margin: 1% auto;
    background: white;
    border: 3px solid #0d6efd;
    border-radius: 48px;
    padding: 1%;
    display: flex;
    flex-flow: row;
}

header h3 {}
header .header-main {
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.container {
    margin: 1% auto;
    width: 935px;
}

table {border-collapse: collapse;text-align: center;width: 100%;}

th, td {
    border: 1px solid;
    padding: 4px;
}

thead {
    background: #0d6efd;
}
tbody {
    background: white;
}

tbody tr {
  cursor: pointer;
}

.button {
    margin: 2% auto;
    width: 100%;
    font-size: 15pt;
    background: #5fff81;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    /* height: 36px; */
    box-sizing: border-box;
    float: left;
    text-align: center;
    padding: 9px;
}

.secondary {
background: none;
border: 1px solid #5a9dff;
color: #5a9dff;
font-size: 12pt;
}

.delete {
background: #efefef;
border: 1px solid red;
font-size: 10pt;
color: red;
}

section h2, h3 {
  text-align: center;
  border-bottom: 1px solid black;
}

h3 {
  margin-bottom: 6px;
}

#id_emps {
  width: 100%;
  text-align: center;
  padding: 4px;
  font-size: 14pt;
  margin: 1% auto;
}

.main div {
display: flex;
justify-content: space-around;
margin: 1% auto;
}
