* {
font-family: sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;}

body {
 background: #ffffd7;
}

header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  background: #fdfd82;padding: 11px;border-radius: 17px;margin: 10px 10px;box-shadow: 0px 0px 5px 1px black;}

header .header-main * {
  float: left;
}

.container {width: 700px;margin: 0px auto;margin-top: 24px;}

.vs-create {width: 85%;}

table {
  border-collapse: collapse;
text-align: center;width: 100%;margin-top: 19px;}

thead {background:  #fdfd82; }
tbody {background: white;}


.button {background: #fdfd82;padding: 10px;/* margin: 0px; */text-decoration: none;text-transform: uppercase;color: black;border-radius: 9px;text-align: center;}

.add {width: 100%;float: left;margin-bottom: 14px;background: lightgreen;}

td,th {border: 1px solid black;}

tbody tr:hover {
  cursor:pointer;
  background: #8d54fb;
  text-decoration:underline;
  transition: 0.3s;
color: white;}

.block-main {
  
}
